<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-auto mr-auto">Room Tariff Management</div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="form-filter">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="mr-sm-2" for="roomTypeId">Room type</label>
              <select
              nbInput
              fullWidth
              [(ngModel)]="filterRoomTariff.roomTypeId"
              (ngModelChange)="filterByRoomType($event)"
              id="roomTypeId"
              name="roomTypeId"
              required
              #roomTypeId="ngModel"
              class="custom-select mr-sm-2">
                <option value="">ALL</option>
                <option
                *ngFor="let roomType of roomType"
                value="{{roomType.roomTypeId}}">
                {{roomType.roomTypeName}}
                </option>
              </select>
            </div>

            <div class="col-auto">
                <label class="mr-sm-2" for="roomTypeId">Season</label>
                <select
                nbInput
                fullWidth
                [(ngModel)]="filterRoomTariff.seasonId"
                (ngModelChange)="filterBySeason($event)"
                id="seasonId"
                name="seasonId"
                required
                #seasonId="ngModel"
                class="custom-select mr-sm-2">
                  <option value="">ALL</option>
                  <option
                  *ngFor="let season of season"
                  value="{{season.seasonId}}">
                  {{season.seasonName}}
                  </option>
                </select>
              </div>
          </div>
        </div>
        <nb-tabset>
          <nb-tab [tabTitle]="weekdayTariff">
            <div class="table">
                <ng2-smart-table [settings]="settingsWeekdays"  [source]="roomTariff" (editConfirm)="onUpdateWeekdays($event)"></ng2-smart-table>
            </div>
          </nb-tab>
          <nb-tab [tabTitle]="weekEndTariff">  
            <div class="table">
                <ng2-smart-table [settings]="settingsWeekends"  [source]="roomTariff"  (editConfirm)="onUpdateWeekends($event)"></ng2-smart-table>
            </div>
          </nb-tab>
        </nb-tabset>
        <div class="button">
          <div class="row align-self-end">
            <div class="col-4">
                <button type="button" class="btn btn-primary" [disabled]="show === false" (click)="toUpdate()">To update</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>