@media (min-width: 768px) and (max-width: 991.98px) {
  .table-responsive {
    min-width: 1000px;
  }
}
.float-right{
  padding-right: 30px;
}
.table, th, td{
  font-size: 11px;
}

.btn {
  margin: 0 8px 10px 0;
}