<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="exampleFormControlInput1">Discount total</label>
      <input
      type="text"
      nbInput
      fullWidth
      disabled
      CurrencyMask
      class="form-control"
      [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.discountTotal"
      id="discountTotal"
      name="discountTotal"
      required
      #discountTotal="ngModel"
      placeholder="Discount total">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Rate total</label>
      <input
      type="text"
      nbInput
      fullWidth
      disabled
      CurrencyMask
      class="form-control"
      [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.rateTotal"
      id="rateTotal"
      name="rateTotal"
      required
      #rateTotal="ngModel"
      placeholder="Rate total">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Tax total</label>
      <input
      type="text"
      nbInput
      fullWidth
      disabled
      CurrencyMask
      class="form-control"
      [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.taxTotal"
      id="taxtTotal"
      name="taxtTotal"
      required
      #taxtTotal="ngModel"
      placeholder="Tax total">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Total</label>
      <input
      type="text"
      nbInput
      fullWidth
      disabled
      CurrencyMask
      class="form-control"
      [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.total"
      id="total"
      name="total"
      required
      #total="ngModel"
      placeholder="Total">
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-primary btnn" (click)="open(dialog)">Add Payment - Charge</button>
    </div>
  </div>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add Payment
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="exampleFormControlInput1">Totalpaid</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        CurrencyMask
        class="form-control"
        [(ngModel)]="dataAddPaymentCharge.totalPaid"
        id="totalPaid"
        name="totalPaid"
        required
        #totalPaid="ngModel"
        placeholder="Total paid">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select
            nbInput
            fullWidth
            [disabled]="show === false"
            class="form-control"
            [(ngModel)]="dataAddPaymentCharge.paymentTypeId"
            id="paymentTypeId"
            name="paymentTypeId"
            required
            #paymentTypeId="ngModel">
            <option
            *ngFor="let paymentType of paymentType"
            value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
          </select>
        </div>

      <div class="form-group">
          <label for="exampleFormControlInput1">Payment Note</label>
          <textarea
          nbInput
          fullWidth
          class="form-control"
          [(ngModel)]="dataAddPaymentCharge.paymentNote"
          id="paymentNote"
          name="paymentNote"
          required
          #paymentNote="ngModel"
          placeholder="Payment Note"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="addPaymentCharge()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>