
    <nb-card>
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action>
              <i class="fa fa-building" style="color:black" title="Total Bed"></i>
             <span> 12</span>
          </nb-action>
          <nb-action>
              <i class="fa fa-bed" style="color:green" title="Avilable"></i>
             <span> 5</span>
          </nb-action>
          <nb-action>
              <i class="fa fa-bed" style="color:red" title="Occupied"></i>
             <span> 2</span>
          </nb-action>
          <nb-action>
              <i class="fa fa-bed" style="color:gray" title="Room Dirty"></i>
             <span> 3</span>
          </nb-action>
          <nb-action>
              <i class="fa fa-bed" style="color:yellow" title="Room Cleaning"></i>
             <span> 1</span>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>