<nb-card>
  <nb-card-body>
    <nb-actions size="small">
      <!-- ! Add Misc Sales -->
      <nb-action
        icon="fa fa-plus-circle"
        style="-webkit-text-fill-color: green"
        nbTooltip="Add Miscellaneous Sales"
        nbTooltipPlacement="bottom"
        (click)="goToAddMiscSales()">
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
      <div class="row">
        <div class="col-6">
          <div class="input-group  mb-3 ">
            <input
            [nbDatepicker]="fromDate"
            class="form-control"
            [(ngModel)]="sortDateMisc.date"
            id="date"
            name="date"
            required
            (ngModelChange)="getInfo($event)"
            #fromDate="ngModel"
            placeholder="From Date">
            <nb-rangepicker
              #fromDate
              format="MMM d, y">
            </nb-rangepicker>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1" (click)="filterGetMiscSales()">
                  <i class="fas fa-filter"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <ng2-smart-table [settings]="settings"  [source]="miscSales"></ng2-smart-table>
  </nb-card-body>
</nb-card>