
body {
    font-family: 'Segoe UI','Microsoft Sans Serif',sans-serif;
}

/*
    These next two styles are apparently the modern way to clear a float. This allows the logo
    and the word "Invoice" to remain above the From and To sections. Inserting an empty div
    between them with clear:both also works but is bad style.
    Reference:
    http://stackoverflow.com/questions/490184/what-is-the-best-way-to-clear-the-css-style-float
*/
header:before, header:after {
    content: " ";
    display: table;
}

header:after {
    clear: both;
}

.invoiceNbr {
    font-size: 40px;
    margin-right: 30px;
    margin-top: 30px;
    float: right;
}

.logo {
    float: left;
    margin: 20px;
    padding-left: 10px;
}

.from {
    float: left;
}

.to {
    float: right;
}

.fromto {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e5e5;
    border-radius: 5px;
    margin: 20px;
    min-width: 200px;
}

.fromtocontent {
    margin: 10px;
    margin-right: 15px;
}

.panel {
    background-color: #e8e5e5;
    padding: 7px;
}

.items {
    clear: both;
    display: table;
    padding: 20px;
}

/* Factor out common styles for all of the "col-" classes.*/
div[class^="col-"] {
    display: table-cell;
    padding: 7px;
}

/*for clarity name column styles by the percentage of width */
.col-1-10 {
    width: 10%;
}

.col-1-52 {
    width: 52%;
}

.row {
    display: table-row;
    page-break-inside: avoid;
}

