<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">User Management</div>
      <!-- <div class="col-auto">
        <button type="submi t" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </nb-card-header>

  <nb-card-body>
    <form #ngForm="ngForm" (submit)="onChangePasswod()" ngNativeValidate>

      <div class="form-group">
        <label for="exampleFormControlInput1">Old password</label>
        <input
         type="password"
         nbInput
         fullWidth
         [disabled]="show === false"
         class="form-control"
         [(ngModel)]="changePassword.oldPassword"
         id="oldPassword"
         name="oldPassword"
         required
         #extraChargeName="ngModel"
         placeholder="Old password">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">New password</label>
        <input
         type="password"
         nbInput
         fullWidth
         [disabled]="show === false"
         class="form-control"
         [(ngModel)]="changePassword.newPassword"
         id="newPassword"
         name="newPassword"
         required
         #extraChargeName="ngModel"
         placeholder="Old password">
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary" *ngIf="show">Change Password</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active" >Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
