<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">User Management</div>
      <!-- <div class="col-auto">
        <button type="submi t" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </nb-card-header> 

  <nb-card-body>
    <form class="step-container" #ngForm="ngForm" (submit)="changePasswod()" ngNativeValidate>
      <div class="input-group mb-3">
        <input
          [type]="this.settingForm.old.type" 
          class="form-control"
          [(ngModel)]="settingForm.old.valOld"
          id= "valOld"
          name= "valOld"
          placeholder="New Password">
        <div class="input-group-append">
          <span class="input-group-text" (click)="changeOldPassword()">
            <i [class]="settingForm.old.icon" aria-hidden="true"></i>
          </span>
        </div>
      </div>

      <div class="input-group mb-3">
        <input
          [type]="settingForm.new.type" 
          class="form-control"
          [(ngModel)]="settingForm.new.valNew"
          id= "valNew"
          name= "valNew"
          placeholder="New Password">
        <div class="input-group-append">
          <span class="input-group-text" (click)="changeNewPassword()">
            <i [class]="settingForm.new.icon" aria-hidden="true"></i>
          </span>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" (click)="cancelChange()" >Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
