<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">User Management</div>
      <!-- <div class="col-auto">
        <button type="submi t" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </nb-card-header>

  <nb-card-body>
    <form #ngForm="ngForm" (submit)="onChangePasswod()" ngNativeValidate>

      <div class="form-group" *ngFor="let settingTogglePassword of settingTogglePassword">
        <div class="input-group">
          <input 
          class="form-control py-2 border-right-0 border"
          [type]="settingTogglePassword.password"
          fullWidth
          [disabled]="show === false"
          [(ngModel)]="changePassword.oldPassword"
          [id]="settingTogglePassword.title"
          [name]="settingTogglePassword.title"
          required
          #extraChargeName="ngModel"
          placeholder="Old password">
          <span class="input-group-append">
              <div class="input-group-text bg-transparent"><i [class]="settingTogglePassword.icon" (click)="togglePassword()"></i></div>
          </span>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="input-group">
          <input 
          class="form-control py-2 border-right-0 border"
          [type]="settingTogglePassword.password"
          fullWidth
          [disabled]="show === false"
          [(ngModel)]="changePassword.newPassword"
          id="newPassword"
          name="newPassword"
          required
          #extraChargeName="ngModel"
          placeholder="New password">
          <span class="input-group-append">
              <div class="input-group-text bg-transparent"><i [class]="settingTogglePassword.icon" (click)="togglePassword()"></i></div>
          </span>
        </div>
      </div> -->

      <div class="buttons">
        <button type="submit" class="btn btn-primary" *ngIf="show">Change Password</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active" >Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
