<nb-card>
  <nb-card-body>
    <nb-tabset>
      <!-- TODO: Reservation Tab -->
      <nb-tab tabTitle="Reservation">
        Tab content Reservation
      </nb-tab>

      <!-- TODO: Check in Tab -->
      <nb-tab tabTitle="Check in">
        <div id="demo" #content>
          <div class="invoice">
            <div class="invoice-print">
              <div class="row">
                <div class="col-12">
                  <div class="invoice-title">
                    <h2 class="text-center">Receipt</h2>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-6">
                      <address>
                        <strong>Room No.</strong><br>
                        {{notaCheckIn.roomName}}
                      </address>
                      <address>
                        <strong>Guest</strong><br>
                        {{notaCheckIn.guestName}}
                      </address>
                    </div>
                    <div class="col-6 text-right">
                      <address>
                        <strong>No.</strong><br>
                        {{notaCheckIn.bookingNo}}
                      </address>
                      <address>
                        <strong>Date.</strong><br>
                        {{notaCheckIn.datePrint  | date:'medium'}}
                      </address>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <div class="table-responsive">
                    <table>
                      <tr>
                        <td><strong>Payment Info</strong></td>
                        <td>:</td>
                        <td>{{notaCheckIn.paymentType}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col-6">
                  <div class="table-responsive">
                    <table>
                      <tr>
                        <td><strong>Amount</strong></td>
                        <td>:</td>
                        <td>{{notaCheckIn.totalCharge | currency:"Rp. " }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <hr>
              <div class="table-responsive">
                <table>
                  <tr>
                    <td><strong>Amount in Words</strong></td>
                    <td>:</td>
                    <td>{{notaCheckIn.amountToWord}}</td>
                  </tr><br>
                  <tr>
                    <td><strong>Remark</strong></td>
                    <td>:</td>
                    <td></td>
                  </tr>
                </table>
              </div>
              <hr>
              <p>Booking Policy: No Cancel, No Reschedule, No Refund</p><br>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <td><strong>User</strong></td>
                            <td>:</td>
                            <td>{{notaCheckIn.checkInBy}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <td>Authorized Signatory</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button printSectionId="demo" ngxPrint [useExistingCss]="true" class="btn btn-primary">
            <i class="fas fa-print"></i>Print</button>
          <button (click)="makePdfCheckOut()" class="btn btn-warning">
            <i class="fas fa-file"></i> Export to PDF</button>
        </div>
      </nb-tab>

      <!-- TODO: Check out Tab -->
      <nb-tab tabTitle="Check out">
        <div id="demo" #content>
          <div class="invoice">
            <div class="invoice-print">
              <div class="row">
                <div class="col-12">
                  <div class="invoice-title">
                    <h2 class="text-center">Invoice</h2>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-6">
                      <address>
                        <strong>Bill No : {{notaCheckOut.billNo}}</strong>
                      </address>
                      <address>
                        <strong>Guest Name :</strong><br>
                        {{notaCheckOut.guestName}}<br>
                      </address>
                      <address>
                        <strong>Address :</strong><br>
                        {{notaCheckOut.address}}<br>
                      </address>
                      <address>
                        <strong>National :</strong><br>
                        {{notaCheckOut.national}}<br>
                      </address>
                    </div>
                    <div class="col-6 text-right">
                      <strong>Room No : {{notaCheckOut.roomName}}</strong>
                      <address>
                        <strong>Arrival Date :</strong><br>
                        {{notaCheckOut.arrivalDate}}<br>
                      </address>
                      <address>
                        <strong>Departure Date :</strong><br>
                        {{notaCheckOut.departureDate}}<br>
                      </address>
                      <address>
                        <strong>Night :</strong><br>
                        {{notaCheckOut.duration}}<br>
                      </address>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Particular</th>
                        <th class="text-right">Subtotal</th>
                      </tr>
                      <tr *ngFor="let charge of notaCheckOut.charge">
                        <td class="text-center">{{charge.date}}</td>
                        <td class="text-center">{{charge.particular}}</td>
                        <td class="text-right">{{charge.nominal | currency:"Rp. " }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-center">
                          <h5>Total</h5>
                        </td>
                        <td class="text-right">{{notaCheckOut.total | currency:"Rp. "}}</td>
                      </tr>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <h5>Amount In Words</h5>
                      <h5>{{notaCheckOut.amountToWord}}</h5>
                    </div>
                    <div class="col-6">
                      <div class="table-responsive">
                        <table class="table text-right">
                          <tr>
                            <td>Total Rent</td>
                            <td>:</td>
                            <td>{{notaCheckOut.totalRent | currency:"Rp. "}}</td>
                          </tr>
                          <tr>
                            <td>Total Tax</td>
                            <td>:</td>
                            <td>{{notaCheckOut.totalTax | currency:"Rp. "}}</td>
                          </tr>
                          <tr>
                            <td>Total Charge</td>
                            <td>:</td>
                            <td>{{notaCheckOut.totalCharge | currency:"Rp. "}}</td>
                          </tr>
                          <tr>
                            <td>Total</td>
                            <td>:</td>
                            <td>{{notaCheckOut.total | currency:"Rp. "}}</td>
                          </tr>
                          <tr>
                            <td>Total Discount</td>
                            <td>:</td>
                            <td>{{notaCheckOut.totalDiscount | currency:"Rp. "}}</td>
                          </tr>
                          <tr>
                            <td><strong>Balance</strong></td>
                            <td>:</td>
                            <td><strong>{{notaCheckOut.balance | currency:"Rp. "}}</strong></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-2 mb-2">
              <div class="row">
                <div class="col-6">
                  <table>
                    <tr>
                      <td>Bill to</td>
                      <td>:</td>
                      <td>{{notaCheckOut.guestName}}</td>
                    </tr><br>
                    <tr>
                      <td>Address</td>
                      <td>:</td>
                      <td>{{notaCheckOut.address}}</td>
                    </tr><br>
                    <tr>
                      <td>National</td>
                      <td>:</td>
                      <td>{{notaCheckOut.national}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-6">
                  NOTICE TO GUESTS. This property is privately owned and the management reserves the right to refuse
                  service to anyone.
                  <p>Management will not be responsible for accidents or injury to guests or for loss of money, jewelry
                    or valuables of any kind. </p>
                  <p>Management will not be responsible for any item left in the room.</p><br>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <table>
                    <tr>
                      <td>Reception (C/I)</td>
                      <td>:</td>
                      <td>{{notaCheckOut.checkOutBy}}</td>
                    </tr><br>
                    <tr>
                      <td>Date</td>
                      <td>:</td>
                      <td>{{notaCheckOut.datePrint | date }}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-2">
                  <address>
                    <strong>Check In By</strong>
                    <p>{{notaCheckOut.checkInBy}}</p>
                  </address>
                  <address>
                    <strong>Check Out By</strong>
                    <p>{{notaCheckOut.checkOutBy}}</p>
                  </address>
                </div>
                <div class="col-6 ">
                  <p>I AGGREE that my liability for this bill is not waived and agree to be held personality liable in
                    the event that indicated person of company failed to pay for any part or full amaount of these
                    charges including any missing/damaged items, etc. I aggree that if an attorney is retained to
                    collect these charges. I will pay all reasonable attorney's fees and costs incurred. If payment is
                    by credit card you are authorized to charge my account for all charges incurred. Including any and
                    all damages/missing items, etc. I agree that the sole purpose of renting this room is for my own
                    residency only.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button printSectionId="demo" ngxPrint [useExistingCss]="true" class="btn btn-primary">
            <i class="fas fa-print"></i>Print</button>
          <button (click)="makePdfCheckOut()" class="btn btn-warning">
            <i class="fas fa-file"></i> Export to PDF</button>
        </div>
      </nb-tab>

      <!-- TODO: Deposit Tab -->
      <nb-tab tabTitle="Deposit">
        Tab content Deposit
      </nb-tab>

      <!-- TODO: Extra Charge Tab -->
      <nb-tab tabTitle="Extra Charge">
        Tab content Extra Charge
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
