/* 1.37 Activities */
.invoice {
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  border: none;
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
}

.invoice .invoice-title .invoice-number {
  float: right;
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
}

.invoice hr {
  margin-top: 10px;
  margin-bottom: 40px;
}

.invoice .invoice-detail-item {
  margin-bottom: 15px;
}

.invoice .invoice-detail-item .invoice-detail-name {
  letter-spacing: 0.3px;
  // color: #98a6ad;
  margin-bottom: 4px;
}

.invoice .invoice-detail-item .invoice-detail-value {
  font-size: 18px;
  font-weight: 700;
}

.invoice .invoice-detail-item .invoice-detail-value.invoice-detail-value-lg {
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .table-invoice table {
    min-width: 800px;
  }
}

.btn {
  margin: 0 8px 10px 0;
}
