<!-- TODO: Start Action Group Booking Room -->
<nb-card>
  <nb-card-body>
    <nb-actions size="small">

      <!-- ! Nota -->
      <nb-action
        icon="fa fa-print"
        nbTooltip="Print Nota"
        nbTooltipPlacement="bottom"
        (click)="goToNota()">
      </nb-action>

      <!-- ! add payment - Done -->
      <nb-action
        *ngIf="charge.total !== 0 && detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
        icon="fas fa-money-bill-wave-alt"
        nbTooltip="Add Payment"
        nbTooltipPlacement="bottom"
        (click)="openAddPayment(dialogPayment)">
      </nb-action>

      <!-- ! add deposit - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
        icon="ion-cash"
        nbTooltip="Add Deposit"
        nbTooltipPlacement="bottom"
        (click)="openAddDeposit(dialogDeposit)">
      </nb-action>

      <!-- ! add extra charge - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
        icon="fas fa-money-check"
        nbTooltip="Add Extra Charge"
        nbTooltipPlacement="bottom"
        (click)="openDialogExtraCHarge(dialogExtraCharge)">
      </nb-action>

      <!-- ! add room - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.roomId === null && detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
      icon="fa fa-bed"
      nbTooltip="Add Room"
      nbTooltipPlacement="bottom"
      (click)="openAddRoom(dialogAddRoom)">
      </nb-action>

      <!-- !move room - Done -->
      <nb-action
        *ngIf="detailBookingByBookingRoomId.roomInformation.roomId !== null && detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
        icon="fas fa-dolly-flatbed"
        nbTooltip="Move Room"
        nbTooltipPlacement="bottom"
        (click)="goToMoveRoom()">
      </nb-action>
      
      <!-- !extend room - Done -->
      <nb-action
        *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
        icon="fas fa-plus-square"
        nbTooltip="Extend Room"
        nbTooltipPlacement="bottom"
        (click)="goToExtendRoom()">
      </nb-action>
      
      <!-- !add stay - Done -->
      <nb-action
        *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 3"
        icon="fa fa-plus-circle"
        nbTooltip="Add Stay"
        nbTooltipPlacement="bottom"
        (click)="goToAddStay()">
      </nb-action>


      <!-- !less stay - Done -->
      <nb-action
        *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 3"
        icon="fa fa-minus-circle"
        nbTooltip="Less Stay"
        nbTooltipPlacement="bottom"
        (click)="goToLessStay()">
      </nb-action>

      <!-- ! check in - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 2"
        icon="fas fa-sign-in-alt"
        nbTooltip="Check In"
        nbTooltipPlacement="bottom"
        (click)="openActionCheckIn(dialogCheckIn)">
      </nb-action>

      <!-- ! check out - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 3"
        icon="fas fa-sign-out-alt"
        nbTooltip="Check out"
        nbTooltipPlacement="bottom"
        (click)="openActionCheckOut(dialogCheckOut)">
      </nb-action>

      <!-- ! no show - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 2"
        icon="fas fa-eye-slash"
        nbTooltip="No Show"
        nbTooltipPlacement="bottom"
        (click)="noShow()">
      </nb-action>

      <!-- ! cancel booking - Done -->
      <nb-action
      *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 3 && detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId !== 5"
        icon="fas fa-eject"
        nbTooltip="Cancel"
        nbTooltipPlacement="bottom"
        (click)="cancelBookingRoom()">
      </nb-action>

      <!-- ! back to booking detail based on booking id - Done  -->
      <nb-action
      icon="fa fa-undo"
      nbTooltip="Undo"
      nbTooltipPlacement="bottom"
      [routerLink]="['/pages/booking-detail/' + this.detailBookingByBookingRoomId.roomInformation.bookingId]"
      routerLinkActive="router-link-active">
      </nb-action>

    </nb-actions>
</nb-card-body>
</nb-card>
<!-- TODO: End Action Group Booking Room -->

<!-- TODO: Start Tabs -->
<nb-card> 
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">
        Booking Room : {{detailBookingByBookingRoomId.roomInformation.bookingRoomId}} - {{detailBookingByBookingRoomId.roomInformation.roomTypeName}} 
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-tabset>

      <!-- ! Booking information -->
      <nb-tab tabTitle="Booking Room Infomation">
        <nb-card>
          <nb-card-body>

            <!-- TODO: START Data of Booking information -->
            <nb-card>
              <nb-card-header>
                <div class="row">
                  <div class="col-auto mr-auto">Information</div>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="inputEmail4">Arrival Date</label>
                      <input
                      [nbDatepicker]="arrivalDate"
                      [(ngModel)]="detailBookingByBookingRoomId.roomInformation.arrivalDate"
                      class="form-control"
                      id="arrivalDate"
                      name="arrivalDate"
                      required
                      disabled
                      #arrivalDate="ngModel"
                      placeholder="Arrival Date">
                      <nb-datepicker
                        #arrivalDate
                        format="MMM d, y">
                      </nb-datepicker>
                    </div>
                
                    <div class="form-group">
                      <label for="inputEmail4">Departure Date</label>
                      <input
                      [nbDatepicker]="departureDate"
                      [(ngModel)]="detailBookingByBookingRoomId.roomInformation.departureDate"
                      class="form-control"
                      id="departureDate"
                      name="departureDate"
                      required
                      disabled
                      #departureDate="ngModel"
                      placeholder="Departure Date">
                      <nb-datepicker
                        #departureDate
                        format="MMM d, y">
                      </nb-datepicker>
                    </div>
                
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Room type name</label>
                      <input
                      type="text"
                      nbInput
                      fullWidth
                      disabled
                      class="form-control"
                      [(ngModel)]="detailBookingByBookingRoomId.roomInformation.roomTypeName"
                      id="roomTypeName"
                      name="roomTypeName"
                      required
                      #roomTypeName="ngModel"
                      placeholder="Room type name">
                    </div>
                
                    <div class="form-group" *ngIf="detailBookingByBookingRoomId.roomInformation.roomId !== null">
                      <label for="exampleFormControlInput1">Room name</label>
                      <input
                      type="text"
                      nbInput
                      fullWidth
                      disabled
                      class="form-control"
                      [(ngModel)]="detailBookingByBookingRoomId.room.roomName"
                      id="roomName"
                      name="roomName"
                      required
                      #roomName="ngModel"
                      placeholder="Room name">
                    </div>
                
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Booking room status name</label>
                      <input
                      type="text"
                      nbInput
                      fullWidth
                      disabled
                      class="form-control"
                      [(ngModel)]="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusName"
                      id="bookingRoomStatusName"
                      name="bookingRoomStatusName"
                      required
                      #bookingRoomStatusName="ngModel"
                      placeholder="Booking room status name">
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <!-- TODO: END Data of Booking information -->
          </nb-card-body>
        </nb-card>
      </nb-tab>

      <!-- ! Charge information -->
      <nb-tab tabTitle="Charge Information">
        <nb-card>
          <nb-card-body>
              <ng2-smart-table [settings]="settingCharge"  [source]="chargeInformation"></ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>

      <!-- ! Extra Charge information -->
      <nb-tab tabTitle="Extra Charge Information">
        <nb-card>
          <nb-card-body>
              <ng2-smart-table [settings]="settingExtraCharge"  [source]="extraChargeInformation"></ng2-smart-table>
          </nb-card-body>
        </nb-card> 
      </nb-tab>

      <!-- ! Charge Total -->
      <nb-tab tabTitle="Charge Total">
        <nb-card>
          <nb-card-body>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Discount total</label>
                  <input
                  type="text"
                  nbInput
                  fullWidth
                  disabled
                  currencyMask
                  class="form-control"
                  [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.discountTotal"
                  id="discountTotal"
                  name="discountTotal"
                  required
                  #discountTotal="ngModel"
                  placeholder="Discount total">
                </div>
            
                <div class="form-group">
                  <label for="exampleFormControlInput1">Rate total</label>
                  <input
                  type="text"
                  nbInput
                  fullWidth
                  disabled
                  currencyMask
                  class="form-control"
                  [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.rateTotal"
                  id="rateTotal"
                  name="rateTotal"
                  required
                  #rateTotal="ngModel"
                  placeholder="Rate total">
                </div>
            
                <div class="form-group">
                  <label for="exampleFormControlInput1">Tax total</label>
                  <input
                  type="text"
                  nbInput
                  fullWidth
                  disabled
                  currencyMask
                  class="form-control"
                  [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.taxTotal"
                  id="taxtTotal"
                  name="taxtTotal"
                  required
                  #taxtTotal="ngModel"
                  placeholder="Tax total">
                </div>
            
                <div class="form-group">
                  <label for="exampleFormControlInput1">Total</label>
                  <input
                  type="text"
                  nbInput
                  fullWidth
                  disabled
                  currencyMask
                  class="form-control"
                  [(ngModel)]="detailBookingByBookingRoomId.chargeTotal.total"
                  id="total"
                  name="total"
                  required
                  #total="ngModel"
                  placeholder="Total">
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card> 
      </nb-tab>

      <!-- ! Payment Information -->
      <nb-tab tabTitle="Payment Information">
        <nb-card>
          <nb-card-body>
            <ng2-smart-table [settings]="settingPayment"  [source]="paymentInformation"></ng2-smart-table>
          </nb-card-body>
        </nb-card> 
      </nb-tab>
      
    </nb-tabset>
  </nb-card-body>
</nb-card>
<!-- TODO: End Tabs -->

<!-- TODO: Start Templating -->

<!-- ! payment -->
<ng-template #dialogPayment let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add Payment
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="exampleFormControlInput1">Total paid</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        currencyMask
        class="form-control"
        [(ngModel)]="dataAddPaymentCharge.totalPaid"
        id="totalPaid"
        name="totalPaid"
        required
        #totalPaid="ngModel"
        placeholder="Total paid">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select
            nbInput
            fullWidth
            [disabled]="show === false"
            class="form-control"
            [(ngModel)]="dataAddPaymentCharge.paymentTypeId"
            id="paymentTypeId"
            name="paymentTypeId"
            required
            #paymentTypeId="ngModel">
            <option value="0" disabled selected>Choose your payment option</option>
            <option
            *ngFor="let paymentType of paymentType"
            value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
          </select>
        </div>

      <div class="form-group">
          <label for="exampleFormControlInput1">Payment Note</label>
          <textarea
          nbInput
          fullWidth
          class="form-control"
          [(ngModel)]="dataAddPaymentCharge.paymentNote"
          id="paymentNote"
          name="paymentNote"
          required
          #paymentNote="ngModel"
          placeholder="Payment Note"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="addPaymentCharge()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- ! deposit -->
<ng-template #dialogDeposit let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add Deposit
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="exampleFormControlInput1">Total paid</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        currencyMask
        class="form-control"
        [(ngModel)]="dataAddPaymentDeposit.totalPaid"
        id="totalPaid"
        name="totalPaid"
        required
        #totalPaid="ngModel"
        placeholder="Total paid">
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Payment Type</label>
        <select
          nbInput
          fullWidth
          [disabled]="show === false"
          class="form-control"
          [(ngModel)]="dataAddPaymentDeposit.paymentTypeId"
          id="paymentTypeId"
          name="paymentTypeId"
          required
          #paymentTypeId="ngModel">
          <option value="0" disabled selected>Choose your payment option</option>
          <option
          *ngFor="let paymentType of paymentType"
          value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="exampleFormControlInput1">Payment Note</label>
          <textarea
          nbInput
          fullWidth
          class="form-control"
          [(ngModel)]="dataAddPaymentDeposit.paymentNote"
          id="paymentNote"
          name="paymentNote"
          required
          #paymentNote="ngModel"
          placeholder="Payment Note"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="addPaymentDeposit()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- ! check in -->
<ng-template #dialogCheckIn let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Check In
    </nb-card-header>
    <nb-card-body>
      <nb-checkbox (change)="toggleCheckin($event)">Early Check In</nb-checkbox>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="checkIn()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="cancelCheckIn()" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- ! check out -->
<ng-template #dialogCheckOut let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Check Out
    </nb-card-header>
    <nb-card-body>
        <nb-checkbox (change)="toogleCheckOut($event)">Late Check Out</nb-checkbox>
        <div class="form-group" *ngIf="checkedCheckOut === true">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select
            nbInput
            fullWidth
            [disabled]="show === false"
            class="form-control"
            [(ngModel)]="actionCheckOut.lateCheckOutRate"
            id="lateCheckOutRate"
            name="lateCheckOutRate"
            required
            #lateCheckOutRate="ngModel">
            <option value="0" disabled>Choose your option</option>
            <option value="25">13:01 AM - 14.00 AM</option>
            <option value="50">14:01 AM - 15.00 AM</option>
          </select>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="checkOut()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="cancelCheckOut()"  (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- ! add extra charge -->
<ng-template #dialogExtraCharge let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add Extra Charge 
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Extra Charge</label>
        <select
          nbInput
          fullWidth
          [disabled]="show === false"
          class="form-control"
          [(ngModel)]="dataAddExtraPaymentDeposit.extraChargeId"
          id="extraChargeId"
          name="extraChargeId"
          required
          #extraChargeId="ngModel">
          <option value="0" disabled selected>Choose your option</option>
          <option
          *ngFor="let extraCharge of extraCharge"
          value="{{extraCharge.extraChargeId}}">{{extraCharge.extraChargeName}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select
            nbInput
            fullWidth
            [disabled]="show === false"
            class="form-control"
            [(ngModel)]="dataAddExtraPaymentDeposit.paymentTypeId"
            id="paymentTypeId"
            name="paymentTypeId"
            required
            #paymentTypeId="ngModel">
            <option value="0" disabled selected>Choose your option</option>
            <option
            *ngFor="let paymentType of paymentType"
            value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
          </select>
        </div>

      <div class="form-group">
          <label for="exampleFormControlInput1">Extra Payment Note</label>
          <textarea
          nbInput
          fullWidth
          class="form-control"
          [(ngModel)]="dataAddExtraPaymentDeposit.extraPaymentNote"
          id="extraPaymentNote"
          name="extraPaymentNote"
          required
          #extraPaymentNote="ngModel"
          placeholder="Extra Payment Note"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="addPaymentExtraCharge()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- ! Add room -->
<ng-template #dialogAddRoom let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-auto mr-auto">Assign Room</div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Room</label>
            <select
            nbInput
            fullWidth
            [disabled]="role === false"
            class="form-control"
            [(ngModel)]="assignRoom.roomId"
            id="roomId"
            name="roomId"
            required
            #roomId="ngModel">
            <option value="0" disabled selected>Choose your room option</option>
            <option
            *ngFor="let room of room"
            value="{{room.roomId}}">{{room.roomName}}</option>
            </select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-primary btnn" (click)="addAssignRoom()" (click)="ref.close()">Save</button>
        <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- ! extend room -->


<!-- TODO: End Templating -->