.float-right{
    padding-right: 40px;
  }

  .table, th, td{
    font-size: 9px;
    padding-right: 40px;
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .table-responsive {
      min-width: 800px;
    }
  }
  .btnn {
    margin: 0 8px 10px 0;
  }