<div class="row">
  <div class="col-md-3">
    <nb-card size="small">
      <nb-card-body>
        <div class="details">
          <div class="title">
            List Room
          </div>
        </div>
        <div class="picture" style="background-image: url('/assets/images/deluxe.jpg')"></div>
      </nb-card-body>
      <nb-card-footer>
        <a href="#" target="_blank">
          <button class="btn btn-primary">
            <i class="ion-ios-world"></i> Check it now!
          </button>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card size="small">
      <nb-card-body>
        <div class="details">
          <div class="title">
            List Guest
          </div>
        </div>
        <div class="picture" style="background-image: url('/assets/images/guests.jpg')"></div>
      </nb-card-body>
      <nb-card-footer>
        <a href="#" target="_blank">
          <button class="btn btn-primary">
            <i class="ion-ios-world"></i> Check it now!
          </button>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card size="small">
      <nb-card-body>
        <div class="details">
          <div class="title">
            Report
          </div>
        </div>
        <div class="picture" style="background-image: url('/assets/images/report.jpg')"></div>
      </nb-card-body>
      <nb-card-footer>
        <a href="#" target="_blank">
          <button class="btn btn-primary">
            <i class="ion-ios-world"></i> Check it now!
          </button>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card size="small">
      <nb-card-body>
        <div class="details">
          <div class="title">
            Report
          </div>
        </div>
        <div class="picture" style="background-image: url('/assets/images/report.jpg')"></div>
      </nb-card-body>
      <nb-card-footer>
        <a href="#" target="_blank">
          <button class="btn btn-primary">
            <i class="ion-ios-world"></i> Check it now!
          </button>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
