<!-- TODO: Start Action Group Booking -->
<nb-card>
    <nb-card-body>
      <nb-actions size="small">

        <!-- !extend room -->
        <nb-action
          icon="fas fa-plus-square"
          nbTooltip="Extend Room"
          nbTooltipPlacement="bottom"
          (click)="goToExtendRoom()">
        </nb-action>
        
      </nb-actions>
  </nb-card-body>
  </nb-card>
  <!-- TODO: End Action Group Booking -->

<!-- TODO: start tabs -->
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">
        Booking Number : {{detailBookingByBookingId.bookingInformation.bookingNumber}} 
      </div>
      <div class="col-auto mr-auto">
        Booking Status : {{detailBookingByBookingId.bookingInformation.bookingStatusName}}
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-tabset>

      <!-- ! booking information -->
      <nb-tab tabTitle="Booking Infomation">
        <nb-card>
          <nb-card-body>
            <ngx-booking-information [value]="detailBookingByBookingId"></ngx-booking-information>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      
      <!-- ! room information -->
      <nb-tab tabTitle="Room Information">
        <nb-card>
          <nb-card-body>
            <ngx-room-information [value]="detailBookingByBookingId">
            </ngx-room-information>
          </nb-card-body>
        </nb-card>
      </nb-tab>

      <!-- ! charge information -->
      <nb-tab tabTitle="Charge Information">
        <nb-card>
          <nb-card-body>
            <ngx-charge-information [value]="detailBookingByBookingId"></ngx-charge-information>
          </nb-card-body>
        </nb-card> 
      </nb-tab>

    </nb-tabset>
  </nb-card-body>
</nb-card>
<!-- TODO: end tabs -->