<nb-card>
    <nb-card-body>
      <div class="row">
        <!-- TODO: Info Room by Floor -->
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin: 0;">
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-3">
                <input type="text" 
                 class="form-control" 
                 placeholder="Recipient's username" 
                 aria-label="Recipient's username" 
                 aria-describedby="basic-addon2"
                 [(ngModel)]="filterDashboardHome"
                 id="filterDashboardHome"
                 name="filterDashboardHome">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
              </div>
              <div class="form-filter">
                <div class="list-group">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="filter">Filter by</label>
                      <select class="form-control" 
                      [(ngModel)]="filterDashboardHome"
                      id="filterDashboardHome"
                      name="filterDashboardHome">
                          <option value="0" selected disabled>--Select your room status--</option>
                          <option value="BUSY">BUSY</option>
                          <option value="CLEANING">CLEANING</option>
                          <option value="DIRTY">DIRTY</option>
                          <option value="AVAILABLE">AVAILABLE</option>
                          <option value="NOT READY">NOT READY</option>
                      </select>
                    </div>
                    <!-- <div class="form-group">
                      <label for="contain">Author</label>
                      <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                      <label for="contain">Contains the words</label>
                      <input class="form-control" type="text" />
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-12">
              <div class="scroll">
                <div  class="list-dashboard" *ngIf="(dashboardHome | filter: filterDashboardHome)?.length === 0">No matching</div>
                <div *ngFor="let dashboardHome of dashboardHome | filter: filterDashboardHome" class="list-dashboard">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{dashboardHome.roomTypeName}}</h5>
                    <small class="text-muted" [class]="dashboardHome.textColor">{{dashboardHome.roomStatusName}}</small>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <h6>Guest Name</h6>
                      <p *ngIf="dashboardHome.guestName === null" style="font-size: 18px;">-</p> 
                      <p *ngIf="dashboardHome.guestName !== null" style="font-size: 18px;">{{dashboardHome.guestName}}</p>
                    </div>
                    <div class="col-6">
                        <h6>Number of Room</h6>
                        <p style="font-size: 18px;">{{dashboardHome.roomName}}</p>
                      </div>
                    <div class="col-4">
                      <h6>Arrival Date</h6>
                      <p *ngIf="dashboardHome.arrivalDate === null" style="font-size: 18px;">-</p> 
                      <p *ngIf="dashboardHome.arrivalDate !== null" style="font-size: 18px;">{{dashboardHome.arrivalDate | date: 'longDate'}}</p>
                    </div>
                    <div class="col-4">
                      <h6>Departure Date</h6>
                      <p *ngIf="dashboardHome.departureDate === null" style="font-size: 18px;">-</p> 
                      <p *ngIf="dashboardHome.departureDate !== null" style="font-size: 18px;">{{dashboardHome.departureDate | date: 'longDate'}}</p>
                    </div>
                    <div class="col-4">
                      <h6>Payment</h6>
                      <p *ngIf="dashboardHome.payment === null" style="font-size: 18px;">-</p> 
                      <p *ngIf="dashboardHome.payment !== null" style="font-size: 18px;">Rp. {{dashboardHome.payment | number}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <!-- TODO: Room Status -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-12" style="margin-bottom: 5px;">
              <div class="card text-center">
                <div class="card-body">
                  <div>{{dateNow | date: 'MMMM'}}</div>
                  <div style="font-size: 100px;">{{dateNow | date: 'dd'}}</div>
                  <div>{{dateNow | date: 'yyyy'}}</div>
                </div>
              </div>
            </div>
            
            <div class="col-12" style="margin-bottom: 5px;">
              <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Schedule checkout  </h5>
                  </div>
                </div>
                <div class="scroll">
                  <div *ngIf="(dashboardHome | filter: 'BUSY')?.length === 0"> 
                    <a href="#" class="list-dashboard">
                      <p class="mb-1">No Data</p>
                    </a>
                  </div>
                  <div  *ngFor="let dashboardHome of dashboardHome | filter: 'BUSY' ">
                    <div class="list-dashboard" *ngIf="dashboardHome.durationCheckOut >= 0">
                      <a [routerLink]="['/pages/booking-detail/'+dashboardHome.bookingNumber+'/'+dashboardHome.bookingRoomId]">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{dashboardHome.roomName}}</h5>
                          <small *ngIf="dashboardHome.durationCheckOut == 0" class="text-muted">Now</small>
                          <small *ngIf="dashboardHome.durationCheckOut > 0" class="text-muted">Late</small>
                        </div>
                        <p class="mb-1"> </p>
                        <small *ngIf="dashboardHome.departureDate === null" class="text-muted">In: -</small>
                        <small *ngIf="dashboardHome.departureDate !== null" class="text-muted">In: {{dashboardHome.arrivalDate | date: 'longDate'}}</small>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </nb-card-body>
  </nb-card>
    