nb-card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.picture {
  background-position: center;
  background-size: cover;
  position: relative;
  border-top-left-radius: card-border-radius;
  border-top-right-radius: card-border-radius;
  flex: 1;
}

.details {
  padding: 1.25rem 1.25rem 0;

  .title {
    font-family: font-secondary;
    font-weight: font-weight-bold;
    color: color-fg-heading;
    font-size: 1.5rem;
    margin-bottom: 1rem;


    font-weight: font-weight-bolder;
  }

  .description {
    text-align: justify;
    color: color-fg-text;
    font-weight: font-weight-light;

    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1rem * 8 * #{line-height});
  }
}

nb-card-footer {
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
  border: none;

  a {
    text-decoration: none;
    color: color-fg;

    &:hover {
      color: color-fg-heading;
    }

    i {
      font-size: 1.75rem;
    }
  }
}