img {
widows: 50px;
height: 50px;
}
nb-card-body {
    padding: 0;
    border: none;
    text-align: center;
}
  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0;
    border: 1;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }