<nb-card>
    <nb-card-body>
      <div class="row">
        <!-- TODO: Info Room by Floor -->
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <nb-tabset>
            <nb-tab *ngFor="let floor of floor; let i = index" [tabTitle]=floor.floorName [active]="i === 0">
              <div *ngFor="let dashboardHome of dashboardHome">
                <nb-card  *ngIf="dashboardHome.floorId === floor.floorId">
                  <nb-card-body>
                    <div class="row">
                      <div class="col-8">
                        <div class="row">
                          <div class="col-12">
                            <h3>{{dashboardHome.roomTypeName}}</h3>
                          </div>
                          <div class="col-6">
                              <h6>Guest Name</h6>
                              <p *ngIf="dashboardHome.guestName === null" style="font-size: 18px;">-</p> 
                              <p *ngIf="dashboardHome.guestName !== null" style="font-size: 18px;">{{dashboardHome.guestName}}</p>
                            </div>
                          <div class="col-6">
                              <h6>Number of Room</h6>
                              <p style="font-size: 18px;">{{dashboardHome.roomName}}</p>
                            </div>
                          <div class="col-4">
                            <h6>Arrival Date</h6>
                            <p *ngIf="dashboardHome.arrivalDate === null" style="font-size: 18px;">-</p> 
                            <p *ngIf="dashboardHome.arrivalDate !== null" style="font-size: 18px;">{{dashboardHome.arrivalDate | date: 'longDate'}}</p>
                          </div>
                          <div class="col-4">
                            <h6>Departure Date</h6>
                            <p *ngIf="dashboardHome.departureDate === null" style="font-size: 18px;">-</p> 
                            <p *ngIf="dashboardHome.departureDate !== null" style="font-size: 18px;">{{dashboardHome.departureDate | date: 'longDate'}}</p>
                          </div>
                          <div class="col-4">
                            <h6>Payment</h6>
                            <p *ngIf="dashboardHome.payment === null" style="font-size: 18px;">-</p> 
                            <p *ngIf="dashboardHome.payment !== null" style="font-size: 18px;">Rp. {{dashboardHome.payment | number}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <h1 [class]="dashboardHome.textColor">{{dashboardHome.roomStatusName}}</h1> 
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </nb-tab>
            <nb-tab disabled>
            </nb-tab>
          </nb-tabset>
        </div>
  
        <!-- TODO: Room Status -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
              <h3>Room Status</h3>
            </li>
      
            <li class="list-group-item d-flex justify-content-between align-items-center">
              AVAILABLE
              <span class="badge badge-primary badge-pill">{{roomOperationAvailable}}</span>
            </li>
      
            <li class="list-group-item d-flex justify-content-between align-items-center">
              BUSY
              <span class="badge badge-primary badge-pill">{{roomOperatioBusy}}</span>
            </li>
      
            <li class="list-group-item d-flex justify-content-between align-items-center">
              DIRTY
              <span class="badge badge-primary badge-pill">{{roomOperatioDirty}}</span>
            </li>
      
            <li class="list-group-item d-flex justify-content-between align-items-center">
              CLEANING
              <span class="badge badge-primary badge-pill">{{roomOperatioCleaning}}</span>
            </li>
          </ul>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
    