<nb-card>
  <nb-card-body>
    <div id="demoMS" #content>
      <div class="invoice">
        <div class="invoice-print">
          <div class="col-12 text-center">
            <h5>{{notaMiscSales.property.propertyName}}</h5>
            <p>{{notaMiscSales.property.address}} - {{notaMiscSales.property.city}},
              {{notaMiscSales.property.countryName}}</p>
            <strong>{{notaMiscSales.property.website}}</strong>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <div class="invoice-title">
                <h2 class="text-center">INVOICE</h2>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <address><strong>Guest :</strong><br>
                    {{notaMiscSales.guest.guestName}}
                  </address>
                  <address><strong>Address :</strong><br>
                    {{notaMiscSales.guest.address}} -
                    {{notaMiscSales.guest.city}}<br>{{notaMiscSales.guest.countryName}}
                  </address>
                  <address><strong>Phone :</strong><br>
                    {{notaMiscSales.guest.phoneNumber}}
                  </address>
                  <address><strong>Email :</strong><br>
                    {{notaMiscSales.guest.email}}
                  </address>
                </div>

                <div class="col-6 text-right">
                  <address><strong>Miscellaneous No. :</strong><br>
                    {{notaMiscSales.miscSales.miscSalesNumber}}
                  </address>
                  <address>
                    <strong>Date
                      :</strong><br>{{notaMiscSales.miscSales.datePrint | date }}<br>{{notaMiscSales.miscSales.datePrint | date:'shortTime' }}
                  </address>
                  <address><strong>Miscellaneous Status :</strong><br>
                    {{notaMiscSales.miscSales.miscSalesStatus}}
                  </address>
                  <address><strong>Payment Type :</strong><br>
                    {{notaMiscSales.miscSales.paymentTypeName}}
                  </address>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <th class="text-center"><strong>Date</strong></th>
                    <th class="text-center"><strong>Description</strong></th>
                    <th class="text-center"><strong>Total</strong></th>
                  </tr>
                  <tr>
                    <td class="text-center">{{notaMiscSales.miscSales.miscSalesDate}}</td>
                    <td class="text-center">{{notaMiscSales.miscSales.miscSalesNote}}</td>
                    <td class="text-center">{{notaMiscSales.miscSales.miscSalesTotal | currency:"Rp. " }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <u><h5 class="text-center">Details</h5></u>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-striped" *ngFor="let notaMiscSales of notaMiscSales.miscSalesDetails">
                  <tr>
                    <th colspan="2" class="text-center">Charge</th>
                    <th colspan="2" class="text-center">Description</th>
                  </tr>
                  <tr>
                    <td><strong>Date</strong></td>
                    <td>: {{notaMiscSales.createdAt}}</td>
                    <td><strong>Price</strong></td>
                    <td>: {{notaMiscSales.price | currency:"Rp. " }}</td>
                  </tr>
                  <tr>
                    <td><strong>Extra Charge Name</strong></td>
                    <td>: {{notaMiscSales.extraChargeName}}</td>
                    <td><strong>Quantity</strong></td>
                    <td>: {{notaMiscSales.quantity}}</td>
                  </tr>
                  <tr>
                    <td><strong>Rate</strong></td>
                    <td>: {{notaMiscSales.extraChargeRate | currency:"Rp. " }}</td>
                    <td><strong>Subtotal</strong></td>
                    <td>: {{notaMiscSales.subtotal | currency:"Rp. " }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <h5 class="text-center" *ngFor="let notaMiscSales of notaMiscSales.particular">{{notaMiscSales.particular}}</h5>
          <div class="row">
            <div class="col-4">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <td><strong>Payment Info : {{notaMiscSales.miscSalesTotal.paymentType}}</strong></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-8 text-center">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <td><strong>Total : {{notaMiscSales.miscSalesTotal.totalMiscSales | currency:"Rp. " }}</strong>
                      (<i> {{notaMiscSales.miscSalesTotal.amountToWord}} </i>)
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td>User :</td>
                    <td>{{notaMiscSales.miscSales.miscSalesCreatedBy}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-6">
              <u>
                <h6 class="text-center">Authorized Signatory</h6>
              </u>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button printSectionId="demoMS" ngxPrint [useExistingCss]="true" class="btn btn-primary">
        <i class="fas fa-print"></i>Print</button>
      <button (click)="makePdfMS(useExistingCss)"    class="btn btn-warning">
        <i class="fas fa-file"></i> Export to PDF</button>
    </div>
  </nb-card-body>
</nb-card>
