<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">Season Management</div>
      <!-- <div class="col-auto">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div> -->
    </div>
  </nb-card-header>

  <nb-card-body *ngFor="let season of season">
    <form #ngForm="ngForm" (submit)="updateSeason()" ngNativeValidate>

      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" nbInput fullWidth [disabled]="show === false" class="form-control" [(ngModel)]="season.name"
          id="name" name="name" required #name="ngModel" placeholder="name">
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Season Type</label>
        <select nbInput fullWidth [disabled]="show === false" class="form-control" [(ngModel)]="season.typeId"
          id="typeId" name="typeId" required #typeId="ngModel">
          <option *ngFor="let seasonType of seasonType" value="{{seasonType.seasonTypeId}}">
            {{seasonType.seasonTypeName}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Description</label>
        <textarea nbInput fullWidth [disabled]="show === false" class="form-control" [(ngModel)]="season.desc" id="desc"
          name="desc" required #desc="ngModel" placeholder="Description">
                  </textarea>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">From Date</label>
          <input [nbDatepicker]="fromDate" [(ngModel)]="season.fromDate" class="form-control" id="fromDate"
            name="fromDate" required [disabled]="show === false" #fromDate="ngModel" placeholder="From Date">
          <nb-datepicker #fromDate format="MMM d, y">
          </nb-datepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">To Date</label>
          <input [nbDatepicker]="toDate" [(ngModel)]="season.toDate" class="form-control" id="toDate" name="toDate"
            required [disabled]="show === false" #toDate="ngModel" placeholder="From Date">
          <nb-datepicker #toDate format="MMM d, y">
          </nb-datepicker>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Start Date</label>
          <input [nbDatepicker]="startDate" [(ngModel)]="season.startDate" class="form-control" id="startDate"
            name="startDate" required [disabled]="show === false" #startDate="ngModel" placeholder="Start Date">
          <nb-datepicker #startDate format="MMM d, y">
          </nb-datepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">End Date</label>
          <input [nbDatepicker]="endDate" [(ngModel)]="season.endDate" class="form-control" id="endDate" name="endDate"
            required [disabled]="show === false" #endDate="ngModel" placeholder="End Date">
          <nb-datepicker #endDate format="MMM d, y">
          </nb-datepicker>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary" *ngIf="show">Save</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/pages/season']"
          routerLinkActive="router-link-active">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
