<div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="exampleFormControlInput1">Rate total</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        class="form-control"
        [(ngModel)]="detailBookingByBookingId.chargeTotal.rateTotal"
        id="rateTotal"
        name="rateTotal"
        required
        #rateTotal="ngModel"
        placeholder="Rate total">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Tax total</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        class="form-control"
        [(ngModel)]="detailBookingByBookingId.chargeTotal.taxTotal"
        id="taxTotal"
        name="taxTotal"
        required
        #taxTotal="ngModel"
        placeholder="Tax total">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Discount total</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        class="form-control"
        [(ngModel)]="detailBookingByBookingId.chargeTotal.discountTotal"
        id="discountTotal"
        name="discountTotal"
        required
        #discountTotal="ngModel"
        placeholder="Discount total">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Total</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        class="form-control"
        [(ngModel)]="detailBookingByBookingId.chargeTotal.total"
        id="total"
        name="total"
        required
        #total="ngModel"
        placeholder="Total">
      </div>
  
    </div>
  </div>