<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">Extra charge category management</div>
      <!-- <div class="col-auto">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </nb-card-header>

  <nb-card-body *ngFor="let extraChargeCategory of extraChargeCategory">
    <form #ngForm="ngForm" (submit)="updateExtraChargeCategory()" ngNativeValidate>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input
         type="text"
         nbInput
         fullWidth
         [disabled]="show === false"
         class="form-control"
         [(ngModel)]="extraChargeCategory.extraChargeCategoryName"
         id="extraChargeCategoryName"
         name="extraChargeCategoryName"
         required
         #extraChargeCategoryName="ngModel"
         placeholder="Name">
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary" *ngIf="show">Update</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/pages/extra-charge-category']" routerLinkActive="router-link-active" >Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
