<nb-card >
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">Detail Booking Number: {{bookingNumber}}</div>
      <div class="col-auto">
        <nb-action class="control-item" icon="fa fa-bars" [nbContextMenu]="showMenuRoomList.menuRoomList" nbContextMenuTag="menuRoomList"></nb-action>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="form-filter"
    *ngIf="showSelect.select.roomTypeId === true">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="mr-sm-2" for="roomTypeId">Room type</label>
          <select
          nbInput
          fullWidth
          [(ngModel)]="filterSelectedRowsRoomList.bookingRoomId"
          (ngModelChange)="changeRoomType($event)"
          id="bookingRoomId"
          name="bookingRoomId"
          required
          #bookingRoomId="ngModel"
          class="custom-select mr-sm-2">
            <option 
            *ngFor="let selectedRowsRoomList of selectedRowsRoomList"
            value="{{selectedRowsRoomList.bookingRoomId}}"
            [selected] = "selectedRowsRoomList.selected == true">
            {{selectedRowsRoomList.roomTypeName}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <nb-tabset>
      <nb-tab 
      tabTitle="General Information"
      *ngIf="showTab.show.generalInformation === true"
      [active]="showTab.active.generalInformation === true">
        <form class="step-container">
          <div class="row form-info">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <nb-card>
                <nb-card-header>
                  Guest Information
                </nb-card-header>
    
                <nb-card-body>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    class="form-control"
                    [(ngModel)]="bookingData.guestName"
                    id="guestName"
                    name="guestName"
                    required
                    #guestName="ngModel"
                    placeholder="Guest name">
                  </div>
        
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input
                    type="email"
                    nbInput
                    fullWidth
                    disabled
                    class="form-control"
                    [(ngModel)]="bookingData.email"
                    id="email"
                    name="email"
                    required
                    #email="ngModel"
                    placeholder="email">
                  </div>
        
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Phone number</label>
                    <input
                    type="number"
                    nbInput
                    fullWidth
                    disabled
                    class="form-control"
                    [(ngModel)]="bookingData.phoneNumber"
                    id="phoneNumber"
                    name="phoneNumber"
                    required
                    #phoneNumber="ngModel"
                    placeholder="phone number">
                  </div>
        
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Country name</label>
                    <textarea
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    class="form-control"
                    [(ngModel)]="bookingData.countryName"
                    id="countryName"
                    name="countryName"
                    required
                    #countryName="ngModel"
                    placeholder="Country name"></textarea>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <nb-card>
                <nb-card-header>
                  Booking Status Information
                </nb-card-header>

                <nb-card-body>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Arrival Date</label>
                        <input
                        [nbDatepicker]="arrivalDate"
                        [(ngModel)]="bookingData.arrivalDate"
                        class="form-control"
                        id="arrivalDate"
                        name="arrivalDate"
                        required
                        disabled
                        #arrivalDate="ngModel"
                        placeholder="From Date">
                        <nb-datepicker
                          #arrivalDate
                          format="MMM d, y">
                        </nb-datepicker>
                      </div>
          
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Departure Date</label>
                        <input
                        [nbDatepicker]="departureDate"
                        [(ngModel)]="bookingData.departureDate"
                        class="form-control"
                        id="departureDate"
                        name="departureDate"
                        required
                        disabled
                        #departureDate="ngModel"
                        placeholder="From Date">
                        <nb-datepicker
                          #departureDate
                          format="MMM d, y">
                        </nb-datepicker>
                      </div>
                    </div>
                </nb-card-body>

                <nb-card-body>
                  <div class="form-row">
                    <div class="form-group col-12">
                      <label for="exampleFormControlInput1">Business source name</label>
                      <input
                      type="text"
                      nbInput
                      fullWidth
                      disabled
                      class="form-control"
                      [(ngModel)]="bookingData.businessSourceName"
                      id="businessSourceName"
                      name="businessSourceName"
                      required
                      #guestName="ngModel"
                      placeholder="Business source name">
                    </div>
        
                    <div class="form-group col-12">
                      <label for="exampleFormControlInput1">Status</label>
                      <input
                      type="text"
                      nbInput
                      fullWidth
                      disabled
                      class="form-control"
                      [(ngModel)]="bookingData.bookingStatusName"
                      id="bookingStatusName"
                      name="bookingStatusName"
                      required
                      #bookingStatusName="ngModel"
                      placeholder="Status">
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Room list"
      *ngIf="showTab.show.roomList === true"
      [active]="showTab.active.roomList === true">
        <div class="table">
          <ng2-smart-table 
            [settings]="settingsRoomListBooking"
            [source]="roomListBooking"
            (userRowSelect)="selectRoomList($event)">
          </ng2-smart-table>
        </div> 
      </nb-tab>
      <nb-tab tabTitle="Room Information"
      *ngIf="showTab.show.roomInformation === true"
      [active]="showTab.active.roomInformation === true">
        <form class="step-container">
          <div class="row form-info">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <nb-card>
                <nb-card-header>
                  Charge
                </nb-card-header>

                <nb-card-body>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    class="form-control"
                    [(ngModel)]="room.roomTypeName"
                    id="roomTypeName"
                    name="roomTypeName"
                    required
                    #roomTypeName="ngModel"
                    placeholder="Room type name">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Discount</label>
                    <input
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    currencyMask
                    class="form-control"
                    [(ngModel)]="chargeTotal.discount"
                    id="discount"
                    name="discount"
                    required
                    #discount="ngModel"
                    placeholder="Discount">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Rate</label>
                    <input
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    currencyMask
                    class="form-control"
                    [(ngModel)]="chargeTotal.totalRate"
                    id="totalRate"
                    name="totalRate"
                    required
                    #totalRate="ngModel"
                    placeholder="Rate">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Tax</label>
                    <input
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    currencyMask
                    class="form-control"
                    [(ngModel)]="chargeTotal.totalTax"
                    id="totalTax"
                    name="totalTax"
                    required
                    #totalTax="ngModel"
                    placeholder="Tax">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Charge</label>
                    <input
                    type="text"
                    nbInput
                    fullWidth
                    disabled
                    currencyMask
                    class="form-control"
                    [(ngModel)]="chargeTotal.totalCharge"
                    id="totalCharge"
                    name="totalCharge"
                    required
                    #totalCharge="ngModel"
                    placeholder="Rate">
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <nb-card>
                <nb-card-header>
                  Room
                </nb-card-header>
                <nb-card-body>
                  <div
                  class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <h2 class="title">Room is not found</h2>
                    <small class="sub-title">please make payment and deposit</small>
                    <button 
                    type="button"
                    (click)="toAssignRoom()" 
                    class="btn btn-block btn-hero-primary">
                      Assign room
                    </button>
                    <button 
                    type="button"
                    disabled
                    (click)="toAssignRoom()" 
                    class="btn btn-block btn-hero-primary">                        
                      Assign room
                    </button>
                  </div>

                  <div 
                  class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Room</label>
                      <select
                      nbInput
                      fullWidth
                      [disabled]="role === false"
                      class="form-control"
                      [(ngModel)]="roomA.roomId"
                      (ngModelChange)="addRoom($event)"
                      id="roomId"
                      name="roomId"
                      required
                      #roomId="ngModel">
                      <option
                      *ngFor="let assignRoom of assignRoom"
                      value="{{assignRoom.roomId}}">{{assignRoom.roomName}}</option>
                      </select>
                    </div>
                  </div>

                  <div 
                  class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Room</label>
                      <input
                        type="text"
                        nbInput
                        fullWidth
                        disabled
                        class="form-control"
                        [(ngModel)]="room.roomName"
                        id="roomName"
                        name="roomName"
                        required
                        #roomName="ngModel"
                        placeholder="Room">
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Deposit"
      *ngIf="showTab.show.deposit === true"
      [active]="showTab.active.deposit === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body *ngIf="showCrud.notFound.deposit === true">
                <div class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <h2 class="title">Deposit is not found</h2>
                  <small class="sub-title">Sorry this page can't be run yet</small>
                  <button type="button" (click)="toDeposit()" class="btn btn-block btn-hero-primary">
                      Add Deposit
                  </button>
                </div>
              </nb-card-body>

              <nb-card-body *ngIf="showCrud.add.deposit === true">
                <form #ngForm="ngForm" (submit)="addDeposit()" ngNativeValidate>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Total Paid</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          currencyMask
                          [disabled]="role === false"
                          class="form-control"
                          [(ngModel)]="addingDeposit.totalPaid"
                          id="totalPaid"
                          name="totalPaid"
                          required
                          #totalPaid="ngModel"
                          placeholder="Total Paid">
                      </div>
                
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Payment Type</label>
                        <select
                          nbInput
                          fullWidth
                          [disabled]="role === false"
                          class="form-control"
                          [(ngModel)]="addingDeposit.paymentTypeId"
                          id="paymentTypeId"
                          name="paymentTypeId"
                          required
                          #paymentTypeId="ngModel">
                          <option
                          *ngFor="let paymentType of paymentType"
                          value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
                        </select>
                      </div>
                
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Note</label>
                        <textarea
                          nbInput
                          fullWidth
                          [disabled]="role === false"
                          class="form-control"
                          [(ngModel)]="addingDeposit.paymentNote"
                          id="paymentNote"
                          name="paymentNote"
                          required
                          #paymentNote="ngModel"
                          placeholder="Note">
                          </textarea>
                      </div>
            
                  <div class="buttons">
                    <button type="submit" class="btn btn-primary" *ngIf="role">Save</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/pages/booking-management']" routerLinkActive="router-link-active" >Cancel</button>
                  </div>
                </form>
              </nb-card-body>

              <nb-card-body *ngIf="showCrud.view.deposit === true">
                {{deposit.paymentId}}
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Charge"
      *ngIf="showTab.show.charge === true"
      [active]="showTab.active.charge === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body *ngIf="showCrud.notFound.charge === true">
                <div class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <h2 class="title">Charge is not found</h2>
                  <small class="sub-title">Sorry, this data can't be displayed yet</small>
                  <button type="button" (click)="toCharge()" class="btn btn-block btn-hero-primary">
                    Add Charge
                  </button>
                </div>
              </nb-card-body>

              <nb-card-body *ngIf="showCrud.add.charge === true">

              </nb-card-body>
              
              <nb-card-body *ngIf="showCrud.view.charge === true">

              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Extra Charge"
      *ngIf="showTab.show.extraCharge === true"
      [active]="showTab.active.extraCharge === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body *ngIf="showCrud.notFound.extraCharge === true">
                <div class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <h2 class="title">Extra Charge is not found</h2>
                  <small class="sub-title">Sorry, this data can't be displayed yet</small>
                  <button type="button" (click)="toExtraCharge()" class="btn btn-block btn-hero-primary">
                      Add Extra Charge
                  </button>
                </div>
              </nb-card-body>
              <nb-card-body *ngIf="showCrud.add.extraCharge === true">

              </nb-card-body>
              
              <nb-card-body *ngIf="showCrud.view.extraCharge === true">

              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Payment"
      *ngIf="showTab.show.payment === true"
      [active]="showTab.active.payment === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body *ngIf="showCrud.notFound.payment === true">
                <div class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <h2 class="title">Payment is not found</h2>
                  <small class="sub-title">Sorry, this data can't be displayed yet</small>
                  <button type="button" (click)="toPayment()" class="btn btn-block btn-hero-primary">
                    Add Payment
                  </button>
                </div>
              </nb-card-body>

              <nb-card-body *ngIf="showCrud.add.payment === true">
                <form #ngForm="ngForm" (submit)="addPayment()" ngNativeValidate>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Total Paid</label>
                        <input
                          type="text"
                          nbInput
                          fullWidth
                          currencyMask
                          [disabled]="role === false"
                          class="form-control"
                          [(ngModel)]="addingPayment.totalPaid"
                          id="totalPaid"
                          name="totalPaid"
                          required
                          #totalPaid="ngModel"
                          placeholder="Total Paid">
                      </div>
                
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Payment Type</label>
                        <select
                          nbInput
                          fullWidth
                          [disabled]="role === false"
                          class="form-control"
                          [(ngModel)]="addingPayment.paymentTypeId"
                          id="paymentTypeId"
                          name="paymentTypeId"
                          required
                          #paymentTypeId="ngModel">
                          <option
                          *ngFor="let paymentType of paymentType"
                          value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
                        </select>
                      </div>
                
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Note</label>
                        <textarea
                          nbInput
                          fullWidth
                          [disabled]="role === false"
                          class="form-control"
                          [(ngModel)]="addingPayment.paymentNote"
                          id="paymentNote"
                          name="paymentNote"
                          required
                          #paymentNote="ngModel"
                          placeholder="Note">
                          </textarea>
                      </div>
            
                  <div class="buttons">
                    <button type="submit" class="btn btn-primary" *ngIf="role">Save</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/pages/booking-management']" routerLinkActive="router-link-active" >Cancel</button>
                  </div>
                </form>
              </nb-card-body>

              <nb-card-body *ngIf="showCrud.view.payment === true">
                {{payment.paymentId}}
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Extra Payment"
      *ngIf="showTab.show.extraPayment === true"
      [active]="showTab.active.extraPayment === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body *ngIf="showCrud.notFound.extraPayment === true">
                <div class="flex-centered col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <h2 class="title">Extra Payment is not found</h2>
                  <small class="sub-title">Sorry, this data can't be displayed yet</small>
                  <button type="button" (click)="toExtraPayment()" class="btn btn-block btn-hero-primary">
                    Add Extra Payment
                  </button>
                </div>
              </nb-card-body>
              <nb-card-body *ngIf="showCrud.add.extraPayment === true">

              </nb-card-body>
              
              <nb-card-body *ngIf="showCrud.view.extraPayment === true">

              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Add Stay"
      *ngIf="showTab.show.addStay === true"
      [active]="showTab.active.addStay === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body>
                <form #ngForm="ngForm" (submit)="addStay()" ngNativeValidate>
                  <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Duration</label>
                    <input
                    type="number"
                    min = 1
                    nbInput
                    fullWidth
                    [disabled]="show === false"
                    class="form-control"
                    [(ngModel)]="formAddStay.duration"
                    id="duration"
                    name="duration"
                    required
                    #duration="ngModel"
                    placeholder="Duration">
                  </div>
  
                  <div class="buttons">
                    <button type="submit" class="btn btn-primary" *ngIf="role">Save</button>
                    <button type="button" class="btn btn-warning" (click)="cancelAction()" >Cancel</button>
                  </div>
                </form>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Less Stay"
      *ngIf="showTab.show.lessStay === true"
      [active]="showTab.active.lessStay === true">
      <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body>
                <form #ngForm="ngForm" (submit)="lessStay()" ngNativeValidate>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Arrival Date</label>
                    <input
                    [nbDatepicker]="arrivalDate"
                    [(ngModel)]="formLessStay.arrivalDate"
                    class="form-control"
                    id="arrivalDate"
                    name="arrivalDate"
                    required
                    disabled
                    #arrivalDate="ngModel"
                    placeholder="From Date">
                    <nb-datepicker
                      #arrivalDate
                      format="MMM d, y">
                    </nb-datepicker>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Departure Date</label>
                    <input
                    [nbDatepicker]="departureDate"
                    [(ngModel)]="formLessStay.departureDate"
                    class="form-control"
                    id="departureDate"
                    name="departureDate"
                    required
                    disabled
                    #departureDate="ngModel"
                    placeholder="From Date">
                    <nb-datepicker
                      #departureDate
                      format="MMM d, y">
                    </nb-datepicker>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="exampleFormControlInput1">Duration</label>
                      <input
                      type="number"
                      min = 1
                      [max] = "formLessStay.duration"
                      nbInput
                      fullWidth
                      [disabled]="show === false"
                      class="form-control"
                      [(ngModel)]="formLessStay.duration"
                      (change) = "durationLessStay($event)"
                      id="duration"
                      name="duration"
                      required
                      #duration="ngModel"
                      placeholder="Duration">
                  </div>
  
                  <div class="buttons">
                    <button type="submit" class="btn btn-primary" *ngIf="role">Save</button>
                    <button type="button" class="btn btn-warning" (click)="cancelAction()" >Cancel</button>
                  </div>
                </form>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Move Room"
      *ngIf="showTab.show.moveRoom === true"
      [active]="showTab.active.moveRoom === true">
        <div class="row">
          <div class="col-md-12">
            <nb-card>
              <nb-card-body>
                <form class="step-container" #ngForm="ngForm" (submit)="moveRoomStepTwo()" ngNativeValidate>
                  <div class="input-group mb-3" *ngFor="let roomListMoveRoom of roomListMoveRoom; let i=index">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input 
                        type="checkbox"
                        [(ngModel)]="roomListMoveRoom.check"
                        id="check{{i}}"
                        name="check{{i}}"
                        (ngModelChange)="checkRoomListMoveRoomBooking($event)">
                      </div>
                    </div>
                    <input
                      type="text"
                      fullWidth
                      disabled
                      [(ngModel)]="roomListMoveRoom.roomTypeName"
                      class="form-control"
                      id="roomTypeName{{i}}"
                      name="roomTypeName{{i}}"
                      placeholder="Guest">
                    <input
                    type="number"
                    fullWidth
                    [max]="roomListMoveRoom.available"
                    min ="1"
                    [disabled]="show === false"
                    [(ngModel)]="roomListMoveRoom.available"
                    id="available{{i}}"
                    name="available{{i}}"
                    class="form-control"
                    placeholder="Guest">
                  </div>
        
                  <div class="buttons">
                    <button type="submit" class="btn btn-primary" *ngIf="role">Save</button>
                    <button type="button" class="btn btn-warning" (click)="cancelAction()" >Cancel</button>
                  </div>
                </form>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>