<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">Payment Type Management</div>
      <!-- <div class="col-auto">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </nb-card-header>

  <nb-card-body>
    <form #ngForm="ngForm" (submit)="addPaymentType()" ngNativeValidate autocomplete="off">
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input
         type="text"
         nbInput
         fullWidth
         [disabled]="show === false"
         class="form-control"
         [(ngModel)]="paymentType.paymentTypeName"
         id="paymentTypeName"
         name="paymentTypeName"
         required
         #paymentTypeName="ngModel"
         placeholder="name">
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary" *ngIf="show">Save</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/pages/payment-type']" routerLinkActive="router-link-active" >Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
