<nb-card>
  <nb-card-body>
    <div id="demoReportDaily" #content>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="4" class="text-center" style="border-top: none;">
                    <h5>{{property.propertyName}}</h5>
                    <p>{{property.address}} - {{property.city}},
                      {{property.countryName}}</p><strong>{{property.website}}</strong>
                  </th>
                </tr>
                <tr>
                  <th colspan="4" style="border-bottom: none;"><strong>Printed By : </strong>{{printProperty.printName}}</th>
                </tr>
                <tr>
                  <th colspan="4" style="border-top: none;"><strong>Printed Date : </strong>{{printProperty.printDate}}
                  </th>
                </tr>
                <tr>
                  <th colspan="4" class="text-center"><strong>{{printProperty.reportName}}</strong></th>
                </tr>
                <tr>
                  <th class="text-center" style="width:20%;"><strong>Particulars</strong></th>
                  <th class="text-center"><strong>Today</strong></th>
                  <th class="text-center"><strong>Month</strong></th>
                  <th class="text-center"><strong>Year</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4" class="text-left title"><strong>Room AVENUE {{roomRavenue.today.roomName}}</strong>
                  </td>
                </tr>
                <tr>
                  <td class="text-left" label="discount">Discount</td>
                  <td class="text-right" label="today">{{roomRavenue.today.discount | currency:" " }}</td>
                  <td class="text-right" label="month">{{roomRavenue.month.discount | currency:" " }}</td>
                  <td class="text-right" label="year">{{roomRavenue.year.discount | currency:" " }}</td>
                </tr>
                <tr>
                  <td class="text-left" label="tax">Tax</td>
                  <td class="text-right" label="today">{{roomRavenue.today.tax | currency:" " }}</td>
                  <td class="text-right" label="month">{{roomRavenue.month.tax | currency:" " }}</td>
                  <td class="text-right" label="year">{{roomRavenue.year.tax | currency:" " }}</td>
                </tr>
                <tr>
                  <td class="text-left" label="total">Total</td>
                  <td class="text-right" label="today">{{roomRavenue.today.total | currency:" " }}</td>
                  <td class="text-right" label="month">{{roomRavenue.month.total | currency:" " }}</td>
                  <td class="text-right" label="year">{{roomRavenue.year.total | currency:" " }}</td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="4" class="text-left title"><strong>Extra Charge</strong></td>
                </tr>
                <tr>
                  <td class="text-left" label="discount">Extra Charge</td>
                  <td class="text-right" label="today">{{extraCharge.today.extraCharge | currency:" " }}</td>
                  <td class="text-right" label="month">{{extraCharge.month.extraCharge | currency:" " }}</td>
                  <td class="text-right" label="year">{{extraCharge.year.extraCharge | currency:" " }}</td>
                </tr>
                <tr>
                  <td class="text-left" label="tax">Total</td>
                  <td class="text-right" label="today">{{extraCharge.today.total | currency:" " }}</td>
                  <td class="text-right" label="month">{{extraCharge.month.total | currency:" " }}</td>
                  <td class="text-right" label="year">{{extraCharge.year.total | currency:" " }}</td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="4" class="text-left title"><strong>Miscellaneous Sales</strong></td>
                </tr>
                <tr>
                  <td class="text-left" label="miscSales">Miscellaneous Sales</td>
                  <td class="text-right" label="today">{{miscSales.today.miscSales | currency:" " }}</td>
                  <td class="text-right" label="month">{{miscSales.month.miscSales | currency:" " }}</td>
                  <td class="text-right" label="year">{{miscSales.year.miscSales | currency:" " }}</td>
                </tr>
                <tr>
                  <td class="text-left" label="totalMiscSales">Total</td>
                  <td class="text-right" label="today">{{miscSales.today.total | currency:" " }}</td>
                  <td class="text-right" label="month">{{miscSales.month.total | currency:" " }}</td>
                  <td class="text-right" label="year">{{miscSales.year.total | currency:" " }}</td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="4" class="text-left title"><strong>Payment Information</strong></td>
                </tr>
                <tr *ngFor="let paymentType of paymentType" >
                  <td class="text-left">{{paymentType.name}}</td>
                  <td class="text-right" label="today" >
                    {{paymentType.nominalToday}}
                  </td>
                  <td class="text-right" label="month">
                    {{paymentType.nominalMonth}}
                  </td>
                  <td class="text-right" label="year">
                    {{paymentType.nominalYear}}
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="4" class="text-left title"><strong>Room Summary</strong></td>
                </tr>
                <tr>
                  <td class="text-left" label="noOFbooking">No of Booking</td>
                  <td class="text-right" label="today">{{roomSummary.noOfBooking.today}}</td>
                  <td class="text-right" label="month">{{roomSummary.noOfBooking.month}}</td>
                  <td class="text-right" label="year">{{roomSummary.noOfBooking.year}}</td>
                </tr>
                <tr>
                  <td class="text-left" label="SoldRoom">Sold Room</td>
                  <td class="text-right" label="today">{{roomSummary.soldRoom.today}}</td>
                  <td class="text-right" label="month">{{roomSummary.soldRoom.month}}</td>
                  <td class="text-right" label="year">{{roomSummary.soldRoom.year}}</td>
                </tr>
                <tr>
                  <td class="text-left" label="AGPN">Average Guest Per Night</td>
                  <td class="text-right" label="today">{{roomSummary.averageGuestPerNights.today}}</td>
                  <td class="text-right" label="month">{{roomSummary.averageGuestPerNights.month}}</td>
                  <td class="text-right" label="year">{{roomSummary.averageGuestPerNights.year}}</td>
                </tr>
                <tr>
                  <td class="text-left" label="noShowRoom">No Show Rooms</td>
                  <td class="text-right" label="today">{{roomSummary.noShowRooms.today}}</td>
                  <td class="text-right" label="month">{{roomSummary.noShowRooms.month}}</td>
                  <td class="text-right" label="year">{{roomSummary.noShowRooms.year}}</td>
                </tr>
                <tr>
                  <td class="text-left" label="TARN">Total Available Room Nights</td>
                  <td class="text-right" label="today">{{roomSummary.totalAvailableRoomNights.today}}</td>
                  <td class="text-right" label="month">{{roomSummary.totalAvailableRoomNights.month}}</td>
                  <td class="text-right" label="year">{{roomSummary.totalAvailableRoomNights.year}}</td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="4" class="text-left title"><strong>Statistics</strong></td>
                </tr>
                <tr>
                  <td class="text-left" label="OccupancyRate">Occupancy Rate(%)</td>
                  <td class="text-right" label="today">{{statisctics.occupancyRate.today | currency:" " }}</td>
                  <td class="text-right" label="month">{{statisctics.occupancyRate.month | currency:" " }}</td>
                  <td class="text-right" label="year">{{statisctics.occupancyRate.year | currency:" " }}</td>
                </tr>
                <tr>
                  <td class="text-left" label="RPAR">Revenue Per Available Room</td>
                  <td class="text-right" label="today">{{statisctics.averageRevenuePerRoom.today | currency:" " }}</td>
                  <td class="text-right" label="month">{{statisctics.averageRevenuePerRoom.month | currency:" " }}</td>
                  <td class="text-right" label="year">{{statisctics.averageRevenuePerRoom.year | currency:" " }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="buttons">
      <button printSectionId="demoReportDaily" ngxPrint [useExistingCss]="true" class="btnn btn btn-primary">
        <i class="fas fa-print"></i>Print
      </button>
      <button (click)="makePdfReportDaily(content)" class="btnn  btn btn-warning">
        <i class="fas fa-file"></i> Export to PDF
      </button>
    </div>
  </nb-card-body>
</nb-card>
