<nb-card>
  <nb-card-body>
    <div id="demoReportDaily" #content>
      <div class="col-12 text-center">
        <h5>{{property.propertyName}}</h5>
        <p>{{property.address}} - {{property.city}},
          {{property.countryName}}</p>
        <strong>{{property.website}}</strong>
      </div><br>
      <div class="float-left"><strong>Printed By : </strong></div>
      <div class="float-right"><strong>Printed Date : {{printProperty.printDate}}</strong></div><br>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th colspan="4" class="text-center"><strong>{{printProperty.reportName}}</strong></th>
                </tr>
                <tr>
                  <th class="text-center"><strong>Particulars</strong></th>
                  <th class="text-center"><strong>Today</strong></th>
                  <th class="text-center"><strong>Month</strong></th>
                  <th class="text-center"><strong>Year</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4" class="text-left"><strong>Room AVENUE {{roomRavenue.today.roomName}}</strong></td>
                </tr>
                <tr>
                    <td class="text-center" label="discount">Discount</td>
                    <td class="text-right" label="today">{{roomRavenue.today.discount}}</td>
                    <td class="text-right" label="month">{{roomRavenue.month.discount}}</td>
                    <td class="text-right" label="year">{{roomRavenue.year.discount}}</td>
                </tr>
                <tr>
                    <td class="text-center" label="tax">Tax</td>
                    <td class="text-right" label="today">{{roomRavenue.today.tax}}</td>
                    <td class="text-right" label="month">{{roomRavenue.month.tax}}</td>
                    <td class="text-right" label="year">{{roomRavenue.year.tax}}</td>
                </tr>
                <tr>
                    <td class="text-center" label="total">Total</td>
                    <td class="text-right" label="today">{{roomRavenue.today.total}}</td>
                    <td class="text-right" label="month">{{roomRavenue.month.total}}</td>
                    <td class="text-right" label="year">{{roomRavenue.year.total}}</td>
                </tr>
                <tr><td colspan="4"></td></tr>
                <tr>
                  <td colspan="4" class="text-left"><strong>Extra Charge</strong></td>
                </tr>
                <tr>
                    <td class="text-center" label="discount">Extra Charge</td>
                    <td class="text-right" label="today">{{extraCharge.today.extraCharge}}</td>
                    <td class="text-right" label="month">{{extraCharge.month.extraCharge}}</td>
                    <td class="text-right" label="year">{{extraCharge.year.extraCharge}}</td>
                </tr>
                <tr>
                    <td class="text-center" label="tax">Total</td>
                    <td class="text-right" label="today">{{extraCharge.today.total}}</td>
                    <td class="text-right" label="month">{{extraCharge.month.total}}</td>
                    <td class="text-right" label="year">{{extraCharge.year.total}}</td>
                </tr>
                <tr><td colspan="4"></td></tr>
                <tr>
                    <td colspan="4" class="text-left"><strong>Miscellaneous Sales</strong></td>
                  </tr>
                  <tr>
                      <td class="text-center" label="discount">Miscellaneous Sales</td>
                      <td class="text-right" label="today">{{miscSales.today.miscSales}}</td>
                      <td class="text-right" label="month">{{miscSales.month.miscSales}}</td>
                      <td class="text-right" label="year">{{miscSales.year.miscSales}}</td>
                  </tr>
                  <tr>
                      <td class="text-center" label="tax">Total</td>
                      <td class="text-right" label="today">{{miscSales.today.total}}</td>
                      <td class="text-right" label="month">{{miscSales.month.total}}</td>
                      <td class="text-right" label="year">{{miscSales.year.total}}</td>
                  </tr>
                <tr><td colspan="4"></td></tr>
                <tr>
                    <td colspan="4" class="text-left"><strong>Payment Information</strong></td>
                  </tr>
                  <tr>
                      <td class="text-center" label="discount">Payment Information</td>
                      <td class="text-right" label="today">{{miscSales.today.miscSales}}</td>
                      <td class="text-right" label="month">{{miscSales.month.miscSales}}</td>
                      <td class="text-right" label="year">{{miscSales.year.miscSales}}</td>
                  </tr>
                  <tr>
                      <td class="text-center" label="tax">Total</td>
                      <td class="text-right" label="today">{{miscSales.today.total}}</td>
                      <td class="text-right" label="month">{{miscSales.month.total}}</td>
                      <td class="text-right" label="year">{{miscSales.year.total}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="demoReportDaily" #content>

      <div class="col-12">
        <h5>Payment Information - today</h5>
        <div *ngFor="let paymentInformation of paymentInformation.today">
          <p>{{paymentInformation.paymentInformation}}</p>
          <p>{{paymentInformation.total}}</p>
        </div>
        <br>

        <h5>Payment Information - month</h5>
        <div *ngFor="let paymentInformation of paymentInformation.month">
          <p>{{paymentInformation.paymentInformation}}</p>
          <p>{{paymentInformation.total}}</p>
        </div>
        <br>

        <h5>Payment Information - year</h5>
        <div *ngFor="let paymentInformation of paymentInformation.year">
          <p>{{paymentInformation.paymentInformation}}</p>
          <p>{{paymentInformation.total}}</p>
        </div>
        <br>
      </div>

      <div class="col-12">
        <h5>Room summarry - no of booking</h5>
        <p>{{roomSummary.noOfBooking.today}}</p>
        <p>{{roomSummary.noOfBooking.month}}</p>
        <p>{{roomSummary.noOfBooking.year}}</p>
        <br>

        <h5>Room summary - sold room</h5>
        <p>{{roomSummary.soldRoom.today}}</p>
        <p>{{roomSummary.soldRoom.month}}</p>
        <p>{{roomSummary.soldRoom.year}}</p>
        <br>

        <h5>Room summary - average guest per night</h5>
        <p>{{roomSummary.averageGuestPerNights.today}}</p>
        <p>{{roomSummary.averageGuestPerNights.month}}</p>
        <p>{{roomSummary.averageGuestPerNights.year}}</p>
        <br>

        <h5>Room summary - no show room</h5>
        <p>{{roomSummary.noShowRooms.today}}</p>
        <p>{{roomSummary.noShowRooms.month}}</p>
        <p>{{roomSummary.noShowRooms.year}}</p>
        <br>

        <h5>Room summary - total available room night</h5>
        <p>{{roomSummary.totalAvailableRoomNights.today}}</p>
        <p>{{roomSummary.totalAvailableRoomNights.month}}</p>
        <p>{{roomSummary.totalAvailableRoomNights.year}}</p>
        <br>
      </div>

      <div class="col-12">
        <h5>Statistic - occupancy rate</h5>
        <p>{{statisctics.occupancyRate.today}}</p>
        <p>{{statisctics.occupancyRate.month}}</p>
        <p>{{statisctics.occupancyRate.year}}</p>
        <br>

        <h5>Statistic - average revenue per room</h5>
        <p>{{statisctics.averageRevenuePerRoom.today}}</p>
        <p>{{statisctics.averageRevenuePerRoom.month}}</p>
        <p>{{statisctics.averageRevenuePerRoom.year}}</p>
        <br>
      </div>

    </div>

    <div class="buttons">
      <button printSectionId="demoReportDaily" ngxPrint [useExistingCss]="true" class="btnn btn btn-primary">
        <i class="fas fa-print"></i>Print
      </button>
      <button (click)="makePdfReportDaily(content)" class="btnn  btn btn-warning">
        <i class="fas fa-file"></i> Export to PDF
      </button>
    </div>
  </nb-card-body>
</nb-card>
