  @media (min-width: 768px) and (max-width: 991.98px) {
    .table-responsive {
      min-width: 800px;
    }
  }

  .btn {
    margin: 0 8px 10px 0;
  }

  .table td{
      border: 0.1px;
      border-collapse: collapse;
      border-color: darkgrey;
      border-style: dashed;
  }