
    <nb-card class="list-card" size="small">
      <nb-tabset>
        <nb-tab tabTitle="1st Floor">
          <nb-list>
            <nb-list-item *ngFor="let user of users">
              <nb-user [picture]="user.picture" [name]="user.name" [title]="user.title">
              </nb-user>
            </nb-list-item>
          </nb-list>
        </nb-tab>
        <nb-tab tabTitle="2nd Floor">
            <nb-list>
              <nb-list-item *ngFor="let user of users">
                <nb-user [picture]="user.picture" [name]="user.name" [title]="user.title">
                </nb-user>
              </nb-list-item>
            </nb-list>
          </nb-tab>
        <nb-tab tabTitle="3rd Floor">
            <nb-list>
              <nb-list-item *ngFor="let user of users">
                <nb-user [picture]="user.picture" [name]="user.name" [title]="user.title">
                </nb-user>
              </nb-list-item>
            </nb-list>
          </nb-tab>
      </nb-tabset>
    </nb-card>