<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">Report Arrival List Date</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6">
        <div class="input-group  mb-3 ">
          <input
          [nbDatepicker]="date"
          class="form-control"
          [(ngModel)]="sortDate.date"
          id="date"
          name="date"
          required
          #date="ngModel"
          placeholder="From Date">
          <nb-rangepicker
            #date
            format="MMM d, y">
          </nb-rangepicker>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="getReportArrivalList()">
              <i class="fas fa-filter"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!-- TODO: Content Report -->
<nb-card *ngIf="hiddenContent === false">
  <nb-card-body>
    <div id="demoReportArrival" #content>
      <div class="invoice">
        <div class="invoice-print">
          <div class="col-12 text-center">
            <div>
              <h5>{{property.propertyName}}</h5>
              <h5>{{property.address}}</h5>
              <h5>{{property.city}}</h5>
              <h5>{{property.countryName}}</h5>
              <h5>{{property.website}}</h5>
              <h5>{{property.phoneNumber}}</h5>
            </div>
          </div>
          <div *ngFor="let arrival of arrival">
            <table class="table">
              <tbody>
                <tr>
                  <td>{{arrival.arrivalDate}}</td>
                  <td>{{arrival.baseRate}}</td>
                  <td>{{arrival.bookingNumber}}</td>
                  <td>{{arrival.businessSourceId}}</td>
                  <td>{{arrival.businessSourceName}}</td>
                  <td>{{arrival.by}}</td>
                  <td>{{arrival.departureDate}}</td>
                  <td>{{arrival.entryAt}}</td>
                  <td>{{arrival.guestId}}</td>
                  <td>{{arrival.guestName}}</td>
                  <td>{{arrival.night}}</td>
                  <td>{{arrival.roomTypeId}}</td>
                  <td>{{arrival.roomTypeName}}</td>
                  <td>{{arrival.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="row">
            <div class="col-12 header-report">
              <div class="invoice-title">
                <h5 class="text-center">Report Arrival List</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button printSectionId="demoReportArrival" ngxPrint [useExistingCss]="true" class="btnn btn btn-primary">
        <i class="fas fa-print"></i>Print
      </button>
      <button (click)="makePdfReportArrival(content)"   class="btnn btn btn-warning">
        <i class="fas fa-file"></i> Export to PDF
      </button>
    </div>
  </nb-card-body>
</nb-card>