<nb-card>
    <nb-card-body>
        <div class="action-groups-header">
        Action Groups
        </div>
        <nb-actions size="small">
          <nb-action
           icon="fa fa-print"
           nbTooltip="Print Nota"
           nbTooltipPlacement="bottom">
          </nb-action>

          <nb-action
           icon="fas fa-money-bill-wave-alt"
           nbTooltip="Add Payment"
           nbTooltipPlacement="bottom"
           (click)="openAddDeposit(dialogDeposit)">
          </nb-action>

          <nb-action
           icon="ion-cash"
           nbTooltip="Add Deposit"
           nbTooltipPlacement="bottom"
           (click)="openAddDeposit(dialogDeposit)">
          </nb-action>

          <nb-action
           icon="fas fa-money-check"
           nbTooltip="Add Extra Charge"
           nbTooltipPlacement="bottom"
           (click)="openDialogExtraCHarge(dialogExtraCharge)">
          </nb-action>

          <nb-action
          icon="fa fa-bed"
          nbTooltip="Add Room"
          nbTooltipPlacement="bottom"
          (click)="openAddRoom(dialogRoom)">
          </nb-action>

          <nb-action
          *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 2"
           icon="fas fa-sign-in-alt"
           nbTooltip="Check In"
           nbTooltipPlacement="bottom"
           (click)="openActionCheckIn(dialogCheckIn)">
          </nb-action>

          <nb-action
          *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 3"
           icon="fas fa-sign-out-alt"
           nbTooltip="Check out"
           nbTooltipPlacement="bottom"
           (click)="openActionCheckOut(dialogCheckOut)">
          </nb-action>

          <nb-action
          *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 2"
           icon="fas fa-eye-slash"
           nbTooltip="No Show"
           nbTooltipPlacement="bottom"
           (click)="noShow()">
          </nb-action>

          <nb-action
          *ngIf="detailBookingByBookingRoomId.roomInformation.bookingRoomStatusId === 2"
           icon="fas fa-eject"
           nbTooltip="Cancel"
           nbTooltipPlacement="bottom"
           (click)="cancelBookingRoom()">
          </nb-action>

          <nb-action
          icon="fa fa-undo"
          nbTooltip="Undo"
          nbTooltipPlacement="bottom"
          [routerLink]="['/pages/booking-detail/' + this.detailBookingByBookingRoomId.roomInformation.bookingId]"
          routerLinkActive="router-link-active">
          </nb-action>
        </nb-actions>
    </nb-card-body>
</nb-card>


<ng-template #dialogDeposit let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add Deposit
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="exampleFormControlInput1">Totalpaid</label>
        <input
        type="text"
        nbInput
        fullWidth
        disabled
        CurrencyMask
        class="form-control"
        [(ngModel)]="dataAddPaymentDeposit.totalPaid"
        id="totalPaid"
        name="totalPaid"
        required
        #totalPaid="ngModel"
        placeholder="Total paid">
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Payment Type</label>
        <select
          nbInput
          fullWidth
          [disabled]="show === false"
          class="form-control"
          [(ngModel)]="dataAddPaymentDeposit.paymentTypeId"
          id="paymentTypeId"
          name="paymentTypeId"
          required
          #paymentTypeId="ngModel">
          <option value="" disabled selected>Choose your option</option>
          <option
          *ngFor="let paymentType of paymentType"
          value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="exampleFormControlInput1">Payment Note</label>
          <textarea
          nbInput
          fullWidth
          class="form-control"
          [(ngModel)]="dataAddPaymentDeposit.paymentNote"
          id="paymentNote"
          name="paymentNote"
          required
          #paymentNote="ngModel"
          placeholder="Payment Note"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="addPaymentDeposit()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogCheckIn let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Check In
    </nb-card-header>
    <nb-card-body>
      <nb-checkbox (change)="toggleCheckin($event)">Early Check In</nb-checkbox>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="checkIn()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="cancelCheckIn()" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogCheckOut let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Check Out
    </nb-card-header>
    <nb-card-body>
        <nb-checkbox (change)="toogleCheckOut($event)">Late Check Out</nb-checkbox>
        <div class="form-group" *ngIf="checkedCheckOut === true">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select
            nbInput
            fullWidth
            [disabled]="show === false"
            class="form-control"
            [(ngModel)]="actionCheckOut.lateCheckOutRate"
            id="lateCheckOutRate"
            name="lateCheckOutRate"
            required
            #lateCheckOutRate="ngModel">
            <option value="25">13:01 AM - 14.00 AM</option>
            <option value="50">14:01 AM - 15.00 AM</option>
          </select>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="checkOut()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="cancelCheckOut()"  (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogExtraCharge let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add Extra Charge 
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Extra Charge</label>
        <select
          nbInput
          fullWidth
          [disabled]="show === false"
          class="form-control"
          [(ngModel)]="dataAddExtraPaymentDeposit.extraChargeId"
          id="extraChargeId"
          name="extraChargeId"
          required
          #extraChargeId="ngModel">
          <option value="" disabled selected>Choose your option</option>
          <option
          *ngFor="let extraCharge of extraCharge"
          value="{{extraCharge.extraChargeId}}">{{extraCharge.extraChargeName}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Payment Type</label>
          <select
            nbInput
            fullWidth
            [disabled]="show === false"
            class="form-control"
            [(ngModel)]="dataAddExtraPaymentDeposit.paymentTypeId"
            id="paymentTypeId"
            name="paymentTypeId"
            required
            #paymentTypeId="ngModel">
            <option value="" disabled selected>Choose your option</option>
            <option
            *ngFor="let paymentType of paymentType"
            value="{{paymentType.paymentTypeId}}">{{paymentType.paymentTypeName}}</option>
          </select>
        </div>

      <div class="form-group">
          <label for="exampleFormControlInput1">Extra Payment Note</label>
          <textarea
          nbInput
          fullWidth
          class="form-control"
          [(ngModel)]="dataAddExtraPaymentDeposit.extraPaymentNote"
          id="extraPaymentNote"
          name="extraPaymentNote"
          required
          #extraPaymentNote="ngModel"
          placeholder="Extra Payment Note"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="btn btn-primary btnn" (click)="addPaymentExtraCharge()" (click)="ref.close()">Save</button>
      <button type="button" class="btn btn-warning btnn" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
  
