.btnn {
    margin: 0 8px 10px 0;
  }

.img-preview{
  width: 100%;
  height: 150px;
  margin: 10px;
}

.round {
  display: inline-block;
  height: 10px;
  width: 10px;
  line-height: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #222;    
  color: gainsboro;
  text-align: center;  
  margin-left: 5px;
}
.round.hollow {
  display: inline-block;
  height: 10px;
  width: 10px;
  line-height: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFF;    
  color: gainsboro;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0px 1px gainsboro;
  -moz-box-shadow: 0px 0px 0px 1px gainsboro;
  box-shadow: 0px 0px 0px 1px gainsboro;
}

.round.round-sm {
  height: 15px;
  width: 15px;
  line-height: 15px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 0.7em;
}

  