<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-auto mr-auto">New Booking</div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <form #ngForm="ngForm" (submit)="addBooking()" ngNativeValidate autocomplete="off">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <nb-card>
            <nb-card-header>
              <div class="row">
                <div class="col-auto mr-auto">Guest</div>
              </div>
            </nb-card-header>
    
            <nb-card-body>
              <div class="row"> 
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">
                    Exisiting Data Guest
                  </label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Mencari Data tamu yang sudah pernah di input.
                  (Contoh: Rivaldi)  "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      fullWidth
                      [disabled]="show === false"
                      class="form-control"
                      [(ngModel)]="modelGuest"
                      name="modelGuest"
                      id="modelGuest"
                      [ngbTypeahead]="searchGuest" 
                      (ngModelChange)="onChangeGuest($event)"
                      [resultTemplate]="guest"
                      [inputFormatter]="formatterGuest"
                      placeholder="Guest">
      
                      <!-- <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" [routerLink]="['/pages/add-guest']" routerLinkActive="router-link-active">Add Guest</button>
                      </div> -->
                  </div>
                </div>   
                
        
                <ng-template #guest let-r="result" let-t="term">
                  <div class="media p-1">
                    <div class="d-flex justify-content-center align-content-center align-items-center">
                      <i class="fa fa-user-circle fa-2x mr-3" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <h5 class="mt-1">{{r.guestName}}</h5>
                    </div>
                  </div>
                </ng-template>
    
    
                <!-- ! automatic value from Exisiting Guest or Input Manual For Add New Guest -->
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Name</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <input
                  type="text"
                  nbInput
                  fullWidth
                  [disabled]="show === false"
                  class="form-control"
                  [(ngModel)]="guestt.guestName"
                  id="guestName"
                  name="guestName"
                  required
                  #guestName="ngModel"
                  placeholder="Guest name">
                </div>
    
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Address</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <textarea
                  nbInput
                  fullWidth
                  [disabled]="show === false"
                  class="form-control"
                  [(ngModel)]="guestt.address"
                  id="address"
                  name="address"
                  required
                  #address="ngModel"
                  placeholder="Address">
                  </textarea>
                </div>
    
                <!-- ! Manual Setting for Upload -->
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Upload File</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <div class="input-group">
                    <div class="custom-file">
                      <input 
                        type="file" 
                        class="custom-file-input" 
                        name="image" 
                        id="image"
                        [required]="requiredPhoto === true" 
                        (change)="onFile($event)">
                      <label class="custom-file-label">Choose file</label>
                    </div>
                  </div>
                  <!-- <div class="input-group">
                    <input type="file" name="image" id="image" (change)="onFile($event)">
                  </div> -->
                </div>
                <div class="form-group col-12" >
                  <img [src]="imgURL" [ngClass]="{'img-fluid': true}" class="img-fluid img-thumbnail" style="margin-top:5px;">
                </div>
                <!-- <div class="form-group col-12">
                  <input type="file" name="image" id="image" (change)="onFile($event)">
                </div>
    
                <div class="form-group col-12">
                  <img [src]="imgURL" [ngClass]="{'img-fluid': true}" *ngIf="imgURL">
                </div> -->
    
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">City</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <input type="text" 
                  nbInput 
                  fullWidth 
                  [disabled]="show === false" 
                  class="form-control" 
                  [(ngModel)]="guestt.city"
                  id="city"
                  name="city"
                  required
                  #name="ngModel"
                  placeholder="City">
                </div>
        
                <div class="form-group col-12">
                  <label for="exampleFormControlSelect1">Country</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <select
                  nbInput
                  fullWidth
                  [disabled]="show === false"
                  class="form-control"
                  [(ngModel)]="guestt.countryId"
                  id="countryId"
                  name="countryId"
                  required
                  #typeId="ngModel">
                    <option value="0" disabled selected>Choose your option</option>
                    <option
                    *ngFor="let country of country"
                    value="{{country.countryId}}">{{country.countryName}}</option>
                  </select>
                </div>
    
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Email</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <input 
                  type="text" 
                  nbInput
                  fullWidth 
                  [disabled]="show === false" 
                  class="form-control"
                  [(ngModel)]="guestt.email" 
                  id="email" 
                  name="email" 
                  required 
                  #name="ngModel"
                  placeholder="Email">
                </div>
        
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Phone Number</label>
                  <span 
                   class="round round-sm hollow" 
                   nbTooltipPlacement="right" 
                   nbTooltip="Untuk tamu baru input manual "
                   nbTooltipStatus="control"
                   status="control">
                    <i class="fas fa-info"></i>
                  </span>
                  <input 
                  type="text" 
                  nbInput 
                  fullWidth 
                  [disabled]="show === false" 
                  class="form-control"
                  [(ngModel)]="guestt.phoneNumber" 
                  id="phoneNumber" 
                  name="phoneNumber" 
                  required 
                  #name="ngModel"
                  placeholder="Phone Number">
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <nb-card>
            <nb-card-header>
              <div class="row">
                <div class="col-auto mr-auto">Date Arrival</div>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div class="row">
    
                <!-- ! nebular theme date picker -->
                <div class="form-group col-8">
                  <label for="inputEmail4">Arrival Date</label>
                  <input
                  [nbDatepicker]="arrivalDate"
                  [(ngModel)]="dataAddBooking.arrivalDate"
                  class="form-control"
                  id="arrivalDate"
                  name="arrivalDate"
                  required
                  #arrivalDate="ngModel"
                  placeholder="Arrival Date">
                  <nb-datepicker
                    #arrivalDate  
                    [min]="min"
                    format="MMM d, y">
                  </nb-datepicker>
                </div>
          
                <div class="form-group col-4">
                  <label for="exampleFormControlInput1">Duration</label>
                  <input
                  type="number"
                  min = 1
                  nbInput
                  fullWidth
                  [disabled]="show === false"
                  class="form-control"
                  [(ngModel)]="dataAddBooking.duration"
                  (change)="getInfo($event)"
                  id="duration"
                  name="duration"
                  required
                  #duration="ngModel"
                  placeholder="Duration">
                </div>
    
                <div class="form-group col-12">
                  <label for="inputEmail4">Departure Date</label>
                  <input
                  [nbDatepicker]="departureDate"
                  [(ngModel)]="dataAddBooking.departureDate"
                  class="form-control"
                  id="departureDate"
                  name="departureDate"
                  required
                  disabled
                  #departureDate="ngModel"
                  placeholder="Departure Date">
                  <nb-datepicker
                    #departureDate
                    [min]="min"
                    format="MMM d, y">
                  </nb-datepicker>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card *ngIf="this.dataAddBooking.roomInformation === true">
            <nb-card-header>
              <div class="row">
                <div class="col-auto mr-auto">Room Available</div>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="input-group mb-3" *ngFor="let roomInformation of roomInformation.roomInfo; let i=index">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input 
                      type="checkbox"
                      [(ngModel)]="roomInformation.check"
                      id="check{{i}}"
                      name="check{{i}}"
                      [required]="requiredRoomTypeId === true" 
                      (ngModelChange)="checkRoomListBooking($event)">
                    </div>
                  </div>
    
                  <input
                    type="text"
                    fullWidth
                    disabled
                    
                    [(ngModel)]="roomInformation.roomTypeName"
                    class="form-control"
                    id="roomTypeName{{i}}"
                    name="roomTypeName{{i}}"
                    placeholder="Guest">
    
                  <input
                    type="number"
                    fullWidth
                    required
                    max={{roomInformation.maxAvaiable}}
                    min ="1"
                    [disabled]="show === false"
                    [(ngModel)]="roomInformation.available"
                    id="available{{i}}"
                    name="available{{i}}"
                    class="form-control"
                    placeholder="Guest">
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header>
              <div class="row">
                <div class="col-auto mr-auto">
                  Business Source
                  <span 
                    class="round round-sm hollow" 
                    nbTooltipPlacement="right" 
                    nbTooltip="Mencari data business source, tidak boleh manual. (Contoh: Cityhub, Agoda, Traveloka, dll). "
                    nbTooltipStatus="control"
                    status="control">
                      <i class="fas fa-info"></i>
                  </span>
                </div>
              </div>
            </nb-card-header>
      
            <nb-card-body>
              <div class="row">
                <div class="input-group col-12 mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    fullWidth
                    [disabled]="show === false"
                    class="form-control"
                    [(ngModel)]="modelBusinessSource"
                    name="modelBusinessSource"
                    id="modelBusinessSource"
                    [ngbTypeahead]="searchBusinessSource" 
                    (ngModelChange)="onChangeBusinessSource($event)"
                    [resultTemplate]="businessSource"
                    [inputFormatter]="formatterBusinessSource"
                    placeholder="Business Source">
                </div>
        
                <ng-template #businessSource let-r="result" let-t="term">
                  <div class="media p-1">
                    <div class="d-flex justify-content-center align-content-center align-items-center">
                      <i class="fa fa-building fa-2x mr-3" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <h5 class="mt-1">{{r.businnessSourceName}}</h5>
                    </div>
                  </div>
                </ng-template>
    
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Source</label>
                  <input
                  type="text"
                  nbInput
                  fullWidth
                  required
                  [disabled]="show === false"
                  class="form-control"
                  [(ngModel)]="source.businnessSourceName"
                  id="businnessSourceName"
                  name="businnessSourceName"
                  required
                  #businnessSourceName="ngModel"
                  placeholder="Busineess source">
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary btnn">Save</button>
        <button type="button" class="btn btn-warning btnn" [routerLink]="['/pages/booking-management']" routerLinkActive="router-link-active" >Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
